<template>
  <q-toolbar class="q-pl-xl" style="border-bottom: #dadce0 1px solid; height: 64px;">
    <q-btn outline label="Сегодня" color="primary" @click="$emit('setToday')">
      <q-tooltip>
        {{ currentDay }}
      </q-tooltip>
    </q-btn>
    <q-btn flat round class="q-ml-lg" color="primary" size="12px" icon="navigate_before" @click="$emit('previous')">
      <q-tooltip> {{ previousTooltip }}</q-tooltip>
    </q-btn>
    <q-btn flat round color="primary" size="12px" icon="navigate_next" @click="$emit('next')">
      <q-tooltip> {{ nextTooltip }}</q-tooltip>
    </q-btn>
    <q-select
      outlined
      dense
      map-options
      emit-value
      :options="calendarViewOptions"
      v-model="currentCalendarView"
      style="width: 110px;"
      color="primary"
      class="q-ml-lg"
    />
    <q-toolbar-title shrink class="q-ml-lg q-pl-none">
      {{ currentMonthYear }}
    </q-toolbar-title>
  </q-toolbar>
</template>

<script lang="ts">
import { computed, defineComponent } from '@vue/composition-api';
import { formatDate } from '@/utils/DateUtils';
import { format } from 'quasar';

export default defineComponent({
  name: 'TimetableToolbar',
  props: {
    selectedDate: {
      type: Date,
      default: new Date(),
      required: true,
    },
    calendarView: {
      type: String,
      required: true,
      default: 'week',
    },
  },
  setup(props, ctx) {
    const currentDay = format.capitalize(formatDate(new Date(), 'cccc, d MMMM'));

    const currentCalendarView = computed({
      get: () => props.calendarView,
      set: (value) => ctx.emit('calendarViewChanged', value),
    });

    const currentMonthYear = computed(() => {
      return format.capitalize(formatDate(props.selectedDate as Date, 'LLLL yyyy'));
    });

    const calendarViewLabel = computed(() => {
      const optionViewLabel = calendarViewOptions.find((x) => x.value === currentCalendarView.value)?.label;
      return optionViewLabel![0].toLowerCase() + optionViewLabel!.slice(1);
    });

    const previousTooltip = computed(() => {
      const adjective = currentCalendarView.value === 'week' ? 'Предыдущая' : 'Предыдущий';
      return `${adjective} ${calendarViewLabel.value}`;
    });

    const nextTooltip = computed(() => {
      const adjective = currentCalendarView.value === 'week' ? 'Следующая' : 'Следующий';
      return `${adjective} ${calendarViewLabel.value}`;
    });

    const calendarViewOptions = [
      {
        label: 'День',
        value: 'day',
      },
      {
        label: 'Неделя',
        value: 'week',
      },
      {
        label: 'Месяц',
        value: 'month',
      },
    ];

    return {
      currentDay,
      currentMonthYear,
      currentCalendarView,
      calendarViewOptions,
      previousTooltip,
      nextTooltip,
    };
  },
});
</script>
