<template>
  <q-dialog v-model="showEvent">
    <q-card v-if="event">
      <q-toolbar :class="`bg-${event.bgcolor} text-white`" style="min-width: 400px;" :style="{ background: event.bgcolor }">
        <q-toolbar-title>
          {{ event.title }}
        </q-toolbar-title>
        <q-btn flat round color="white" icon="close" v-close-popup></q-btn>
      </q-toolbar>
      <q-card-section>
        <div>Аудитория: {{ event.roomNumber }}</div>
        <div v-if="event.teacherName && user.isStudent">Преподаватель: {{ event.teacherName }}</div>
        <div v-if="event.groups && user.isTeacher">Группы: {{ event.groups }}</div>
        <div class="text-caption q-mt-lg">
          <EventTime label="Время начала" :value="event.time"></EventTime>
          <EventTime label="Время окончания" :value="getEndTime(event)"></EventTime>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { defineComponent, computed } from '@vue/composition-api';

import EventTime from '@/components/Timetable/Event/EventTime.vue';
import { useEventTime } from 'components/Timetable/useEventTime';
import { useGetters } from '@u3u/vue-hooks';

export default defineComponent({
  name: 'EventDialog',
  components: {
    EventTime,
  },
  props: {
    event: {},
    value: {},
  },
  setup(props, ctx) {
    const { User: user } = useGetters('Auth', ['User']);
    const showEvent = computed({
      get: () => props.value,
      set: (value: any) => ctx.emit('input', value),
    });

    return {
      showEvent,
      ...useEventTime(),
      user,
    };
  },
});
</script>
