/*!
 * @quasar/quasar-ui-qcalendar v1.5.3
 * (c) 2020 Jeff Galbraith <jeff@quasar.dev>
 * Released under the MIT License.
 */
.q-calendar--dark {
  color: #fff;
  background: #424242;
  background: var(--q-color-dark); }

.q-calendar-daily__bordered, .q-calendar-agenda__bordered {
  border: #e0e0e0 1px solid; }

.q-calendar-daily__body, .q-calendar-agenda__body {
  border-top: #e0e0e0 1px solid; }

.q-calendar-daily .q-calendar-daily__intervals-head, .q-calendar-agenda .q-calendar-daily__intervals-head {
  border-right: #e0e0e0 1px solid; }

.q-calendar-daily .q-calendar-daily__column-header--before, .q-calendar-agenda .q-calendar-daily__column-header--before {
  border-bottom: #e0e0e0 1px solid; }

.q-calendar-daily .q-calendar-daily__column-header--after, .q-calendar-agenda .q-calendar-daily__column-header--after {
  border-top: #e0e0e0 1px solid; }

.q-calendar-daily .q-calendar-daily__head-day, .q-calendar-agenda .q-calendar-daily__head-day {
  border-right: #e0e0e0 1px solid;
  color: #fafafa; }
  .q-calendar-daily .q-calendar-daily__head-day:last-child, .q-calendar-agenda .q-calendar-daily__head-day:last-child {
    border-right: none; }
  .q-calendar-daily .q-calendar-daily__head-day.q-outside, .q-calendar-agenda .q-calendar-daily__head-day.q-outside {
    background: #eeeeee;
    color: #424242; }
  .q-calendar-daily .q-calendar-daily__head-day.q-current-day, .q-calendar-agenda .q-calendar-daily__head-day.q-current-day {
    color: #027BE3; }
    .q-calendar-daily .q-calendar-daily__head-day.q-current-day .q-calendar-daily__head-day-label, .q-calendar-agenda .q-calendar-daily__head-day.q-current-day .q-calendar-daily__head-day-label {
      font-weight: 700;
      color: #027BE3; }
      .q-calendar-daily .q-calendar-daily__head-day.q-current-day .q-calendar-daily__head-day-label .q-btn__wrapper:before, .q-calendar-agenda .q-calendar-daily__head-day.q-current-day .q-calendar-daily__head-day-label .q-btn__wrapper:before {
        border-width: 1px; }
  .q-calendar-daily .q-calendar-daily__head-day.q-future-day, .q-calendar-agenda .q-calendar-daily__head-day.q-future-day {
    color: #616161; }
    .q-calendar-daily .q-calendar-daily__head-day.q-future-day .q-calendar-daily__head-day-label, .q-calendar-agenda .q-calendar-daily__head-day.q-future-day .q-calendar-daily__head-day-label {
      color: #027BE3; }
  .q-calendar-daily .q-calendar-daily__head-day.q-past-day, .q-calendar-agenda .q-calendar-daily__head-day.q-past-day {
    color: #616161; }
    .q-calendar-daily .q-calendar-daily__head-day.q-past-day .q-calendar-daily__head-day-label, .q-calendar-agenda .q-calendar-daily__head-day.q-past-day .q-calendar-daily__head-day-label {
      color: #616161; }
  .q-calendar-daily .q-calendar-daily__head-day.q-column-day, .q-calendar-agenda .q-calendar-daily__head-day.q-column-day {
    color: #616161; }
    .q-calendar-daily .q-calendar-daily__head-day.q-column-day .q-calendar-daily__head-day-label, .q-calendar-agenda .q-calendar-daily__head-day.q-column-day .q-calendar-daily__head-day-label {
      color: #616161; }

.q-calendar-daily .q-calendar-daily__intervals-body, .q-calendar-agenda .q-calendar-daily__intervals-body {
  border-right: #bebebe 1px solid; }
  .q-calendar-daily .q-calendar-daily__intervals-body .q-calendar-daily__interval-text, .q-calendar-agenda .q-calendar-daily__intervals-body .q-calendar-daily__interval-text {
    color: #616161; }

.q-calendar-daily .q-calendar-daily__day, .q-calendar-agenda .q-calendar-daily__day {
  border-right: #e0e0e0 1px solid;
  border-bottom: #e0e0e0 1px solid; }

.q-calendar-daily .q-calendar-daily__day-interval, .q-calendar-agenda .q-calendar-daily__day-interval {
  border-top: #e0e0e0 1px solid; }
  .q-calendar-daily .q-calendar-daily__day-interval:first-child, .q-calendar-agenda .q-calendar-daily__day-interval:first-child {
    border-top: none !important; }

.q-calendar-daily__day-interval--droppable {
  border: #027BE3 1px dashed; }

.q-calendar-daily__day--droppable {
  border: #027BE3 1px dashed; }

.q-calendar-daily, .q-calendar-agenda {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 100%; }
  .q-calendar-daily__head, .q-calendar-agenda__head {
    flex: none;
    display: flex;
    overflow: hidden;
    min-height: 25px; }
  .q-calendar-daily__intervals-head, .q-calendar-agenda__intervals-head {
    flex: none;
    display: flex;
    overflow: hidden;
    vertical-align: bottom;
    width: 50px;
    color: #616161;
    border-bottom: 1px solid #e0e0e0; }
    .q-calendar-daily__intervals-head--text, .q-calendar-agenda__intervals-head--text {
      display: block;
      position: relative;
      font-size: 10px;
      text-align: center;
      vertical-align: bottom; }
  .q-calendar-daily__head-day, .q-calendar-agenda__head-day {
    flex: 1 1 auto;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 0; }
  .q-calendar-daily__head-weekday, .q-calendar-agenda__head-weekday {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 4px;
    font-size: 1rem;
    justify-content: center; }
  .q-calendar-daily__head-day-label, .q-calendar-agenda__head-day-label {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 50%;
    cursor: pointer; }
  .q-calendar-daily__column-header__before, .q-calendar-agenda__column-header__before {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 4px;
    font-size: 1rem;
    justify-content: left; }
  .q-calendar-daily__column-header__after, .q-calendar-agenda__column-header__after {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 4px;
    font-size: 1rem;
    justify-content: left; }
  .q-calendar-daily__body, .q-calendar-agenda__body {
    flex: 1 1 60%;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column; }
  .q-calendar-daily__scroll-area, .q-calendar-agenda__scroll-area {
    overflow-y: scroll;
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start; }
  .q-calendar-daily__pane, .q-calendar-agenda__pane {
    width: 100%;
    overflow-y: hidden;
    flex: none;
    display: flex;
    align-items: flex-start; }
  .q-calendar-daily__day-container, .q-calendar-agenda__day-container {
    position: relative;
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%; }
  .q-calendar-daily__intervals-body, .q-calendar-agenda__intervals-body {
    flex: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 50px; }
  .q-calendar-daily__interval, .q-calendar-agenda__interval {
    text-align: center;
    border-bottom: none; }
  .q-calendar-daily__interval-text, .q-calendar-agenda__interval-text {
    display: block;
    position: relative;
    top: -6px;
    font-size: 10px; }
  .q-calendar-daily__day, .q-calendar-agenda__day {
    flex: 1;
    width: 0;
    position: relative; }

.q-dark div.q-calendar-daily__bordered, .q-dark div.q-calendar-agenda__bordered,
.body--dark div.q-calendar-daily__bordered,
.body--dark div.q-calendar-agenda__bordered,
.q-calendar--dark.q-calendar-daily__bordered,
.q-calendar--dark.q-calendar-agenda__bordered {
  border: #9e9e9e 1px solid; }

.q-dark div.q-calendar-daily__body, .q-dark div.q-calendar-agenda__body,
.body--dark div.q-calendar-daily__body,
.body--dark div.q-calendar-agenda__body,
.q-calendar--dark.q-calendar-daily__body,
.q-calendar--dark.q-calendar-agenda__body {
  border-top: #9e9e9e 1px solid; }

.q-dark div.q-calendar-daily .q-calendar-daily__intervals-head, .q-dark div.q-calendar-agenda .q-calendar-daily__intervals-head,
.body--dark div.q-calendar-daily .q-calendar-daily__intervals-head,
.body--dark div.q-calendar-agenda .q-calendar-daily__intervals-head,
.q-calendar--dark.q-calendar-daily .q-calendar-daily__intervals-head,
.q-calendar--dark.q-calendar-agenda .q-calendar-daily__intervals-head {
  border-right: #9e9e9e 1px solid; }

.q-dark div.q-calendar-daily .q-calendar-daily__column-header--before, .q-dark div.q-calendar-agenda .q-calendar-daily__column-header--before,
.body--dark div.q-calendar-daily .q-calendar-daily__column-header--before,
.body--dark div.q-calendar-agenda .q-calendar-daily__column-header--before,
.q-calendar--dark.q-calendar-daily .q-calendar-daily__column-header--before,
.q-calendar--dark.q-calendar-agenda .q-calendar-daily__column-header--before {
  border-bottom: #9e9e9e 1px solid; }

.q-dark div.q-calendar-daily .q-calendar-daily__column-header--after, .q-dark div.q-calendar-agenda .q-calendar-daily__column-header--after,
.body--dark div.q-calendar-daily .q-calendar-daily__column-header--after,
.body--dark div.q-calendar-agenda .q-calendar-daily__column-header--after,
.q-calendar--dark.q-calendar-daily .q-calendar-daily__column-header--after,
.q-calendar--dark.q-calendar-agenda .q-calendar-daily__column-header--after {
  border-top: #9e9e9e 1px solid; }

.q-dark div.q-calendar-daily .q-calendar-daily__head-day, .q-dark div.q-calendar-agenda .q-calendar-daily__head-day,
.body--dark div.q-calendar-daily .q-calendar-daily__head-day,
.body--dark div.q-calendar-agenda .q-calendar-daily__head-day,
.q-calendar--dark.q-calendar-daily .q-calendar-daily__head-day,
.q-calendar--dark.q-calendar-agenda .q-calendar-daily__head-day {
  border-right: #9e9e9e 1px solid;
  border-bottom: #9e9e9e 1px solid;
  color: #616161; }
  .q-dark div.q-calendar-daily .q-calendar-daily__head-day:last-child, .q-dark div.q-calendar-agenda .q-calendar-daily__head-day:last-child,
  .body--dark div.q-calendar-daily .q-calendar-daily__head-day:last-child,
  .body--dark div.q-calendar-agenda .q-calendar-daily__head-day:last-child,
  .q-calendar--dark.q-calendar-daily .q-calendar-daily__head-day:last-child,
  .q-calendar--dark.q-calendar-agenda .q-calendar-daily__head-day:last-child {
    border-right: none; }
  .q-dark div.q-calendar-daily .q-calendar-daily__head-day.q-outside, .q-dark div.q-calendar-agenda .q-calendar-daily__head-day.q-outside,
  .body--dark div.q-calendar-daily .q-calendar-daily__head-day.q-outside,
  .body--dark div.q-calendar-agenda .q-calendar-daily__head-day.q-outside,
  .q-calendar--dark.q-calendar-daily .q-calendar-daily__head-day.q-outside,
  .q-calendar--dark.q-calendar-agenda .q-calendar-daily__head-day.q-outside {
    background: #bebebe;
    color: #424242; }
  .q-dark div.q-calendar-daily .q-calendar-daily__head-day.q-current-day, .q-dark div.q-calendar-agenda .q-calendar-daily__head-day.q-current-day,
  .body--dark div.q-calendar-daily .q-calendar-daily__head-day.q-current-day,
  .body--dark div.q-calendar-agenda .q-calendar-daily__head-day.q-current-day,
  .q-calendar--dark.q-calendar-daily .q-calendar-daily__head-day.q-current-day,
  .q-calendar--dark.q-calendar-agenda .q-calendar-daily__head-day.q-current-day {
    color: #ffff66; }
    .q-dark div.q-calendar-daily .q-calendar-daily__head-day.q-current-day .q-calendar-daily__head-day-label, .q-dark div.q-calendar-agenda .q-calendar-daily__head-day.q-current-day .q-calendar-daily__head-day-label,
    .body--dark div.q-calendar-daily .q-calendar-daily__head-day.q-current-day .q-calendar-daily__head-day-label,
    .body--dark div.q-calendar-agenda .q-calendar-daily__head-day.q-current-day .q-calendar-daily__head-day-label,
    .q-calendar--dark.q-calendar-daily .q-calendar-daily__head-day.q-current-day .q-calendar-daily__head-day-label,
    .q-calendar--dark.q-calendar-agenda .q-calendar-daily__head-day.q-current-day .q-calendar-daily__head-day-label {
      color: #ffff66; }
  .q-dark div.q-calendar-daily .q-calendar-daily__head-day.q-future-day, .q-dark div.q-calendar-agenda .q-calendar-daily__head-day.q-future-day,
  .body--dark div.q-calendar-daily .q-calendar-daily__head-day.q-future-day,
  .body--dark div.q-calendar-agenda .q-calendar-daily__head-day.q-future-day,
  .q-calendar--dark.q-calendar-daily .q-calendar-daily__head-day.q-future-day,
  .q-calendar--dark.q-calendar-agenda .q-calendar-daily__head-day.q-future-day {
    color: #ffff66; }
    .q-dark div.q-calendar-daily .q-calendar-daily__head-day.q-future-day .q-calendar-daily__head-day-label, .q-dark div.q-calendar-agenda .q-calendar-daily__head-day.q-future-day .q-calendar-daily__head-day-label,
    .body--dark div.q-calendar-daily .q-calendar-daily__head-day.q-future-day .q-calendar-daily__head-day-label,
    .body--dark div.q-calendar-agenda .q-calendar-daily__head-day.q-future-day .q-calendar-daily__head-day-label,
    .q-calendar--dark.q-calendar-daily .q-calendar-daily__head-day.q-future-day .q-calendar-daily__head-day-label,
    .q-calendar--dark.q-calendar-agenda .q-calendar-daily__head-day.q-future-day .q-calendar-daily__head-day-label {
      color: #ffff66; }
  .q-dark div.q-calendar-daily .q-calendar-daily__head-day.q-past-day, .q-dark div.q-calendar-agenda .q-calendar-daily__head-day.q-past-day,
  .body--dark div.q-calendar-daily .q-calendar-daily__head-day.q-past-day,
  .body--dark div.q-calendar-agenda .q-calendar-daily__head-day.q-past-day,
  .q-calendar--dark.q-calendar-daily .q-calendar-daily__head-day.q-past-day,
  .q-calendar--dark.q-calendar-agenda .q-calendar-daily__head-day.q-past-day {
    color: #eeeeee; }
    .q-dark div.q-calendar-daily .q-calendar-daily__head-day.q-past-day .q-calendar-daily__head-day-label, .q-dark div.q-calendar-agenda .q-calendar-daily__head-day.q-past-day .q-calendar-daily__head-day-label,
    .body--dark div.q-calendar-daily .q-calendar-daily__head-day.q-past-day .q-calendar-daily__head-day-label,
    .body--dark div.q-calendar-agenda .q-calendar-daily__head-day.q-past-day .q-calendar-daily__head-day-label,
    .q-calendar--dark.q-calendar-daily .q-calendar-daily__head-day.q-past-day .q-calendar-daily__head-day-label,
    .q-calendar--dark.q-calendar-agenda .q-calendar-daily__head-day.q-past-day .q-calendar-daily__head-day-label {
      color: #eeeeee; }
  .q-dark div.q-calendar-daily .q-calendar-daily__head-day.q-column-day, .q-dark div.q-calendar-agenda .q-calendar-daily__head-day.q-column-day,
  .body--dark div.q-calendar-daily .q-calendar-daily__head-day.q-column-day,
  .body--dark div.q-calendar-agenda .q-calendar-daily__head-day.q-column-day,
  .q-calendar--dark.q-calendar-daily .q-calendar-daily__head-day.q-column-day,
  .q-calendar--dark.q-calendar-agenda .q-calendar-daily__head-day.q-column-day {
    color: #ffff66; }
    .q-dark div.q-calendar-daily .q-calendar-daily__head-day.q-column-day .q-calendar-daily__head-day-label, .q-dark div.q-calendar-agenda .q-calendar-daily__head-day.q-column-day .q-calendar-daily__head-day-label,
    .body--dark div.q-calendar-daily .q-calendar-daily__head-day.q-column-day .q-calendar-daily__head-day-label,
    .body--dark div.q-calendar-agenda .q-calendar-daily__head-day.q-column-day .q-calendar-daily__head-day-label,
    .q-calendar--dark.q-calendar-daily .q-calendar-daily__head-day.q-column-day .q-calendar-daily__head-day-label,
    .q-calendar--dark.q-calendar-agenda .q-calendar-daily__head-day.q-column-day .q-calendar-daily__head-day-label {
      color: #ffff66; }

.q-dark div.q-calendar-daily .q-calendar-daily__intervals-body, .q-dark div.q-calendar-agenda .q-calendar-daily__intervals-body,
.body--dark div.q-calendar-daily .q-calendar-daily__intervals-body,
.body--dark div.q-calendar-agenda .q-calendar-daily__intervals-body,
.q-calendar--dark.q-calendar-daily .q-calendar-daily__intervals-body,
.q-calendar--dark.q-calendar-agenda .q-calendar-daily__intervals-body {
  border-right: #9e9e9e 1px solid; }
  .q-dark div.q-calendar-daily .q-calendar-daily__intervals-body .q-calendar-daily__interval-text, .q-dark div.q-calendar-agenda .q-calendar-daily__intervals-body .q-calendar-daily__interval-text,
  .body--dark div.q-calendar-daily .q-calendar-daily__intervals-body .q-calendar-daily__interval-text,
  .body--dark div.q-calendar-agenda .q-calendar-daily__intervals-body .q-calendar-daily__interval-text,
  .q-calendar--dark.q-calendar-daily .q-calendar-daily__intervals-body .q-calendar-daily__interval-text,
  .q-calendar--dark.q-calendar-agenda .q-calendar-daily__intervals-body .q-calendar-daily__interval-text {
    color: #fafafa; }

.q-dark div.q-calendar-daily .q-calendar-daily__day, .q-dark div.q-calendar-agenda .q-calendar-daily__day,
.body--dark div.q-calendar-daily .q-calendar-daily__day,
.body--dark div.q-calendar-agenda .q-calendar-daily__day,
.q-calendar--dark.q-calendar-daily .q-calendar-daily__day,
.q-calendar--dark.q-calendar-agenda .q-calendar-daily__day {
  border-right: #9e9e9e 1px solid; }

.q-dark div.q-calendar-daily .q-calendar-daily__day-interval, .q-dark div.q-calendar-agenda .q-calendar-daily__day-interval,
.body--dark div.q-calendar-daily .q-calendar-daily__day-interval,
.body--dark div.q-calendar-agenda .q-calendar-daily__day-interval,
.q-calendar--dark.q-calendar-daily .q-calendar-daily__day-interval,
.q-calendar--dark.q-calendar-agenda .q-calendar-daily__day-interval {
  border-top: #9e9e9e 1px solid; }
  .q-dark div.q-calendar-daily .q-calendar-daily__day-interval:first-child, .q-dark div.q-calendar-agenda .q-calendar-daily__day-interval:first-child,
  .body--dark div.q-calendar-daily .q-calendar-daily__day-interval:first-child,
  .body--dark div.q-calendar-agenda .q-calendar-daily__day-interval:first-child,
  .q-calendar--dark.q-calendar-daily .q-calendar-daily__day-interval:first-child,
  .q-calendar--dark.q-calendar-agenda .q-calendar-daily__day-interval:first-child {
    border-top: none !important; }

.q-dark div .q-calendar-daily__day-interval--droppable,
.body--dark div .q-calendar-daily__day-interval--droppable,
.q-calendar--dark .q-calendar-daily__day-interval--droppable {
  border: #9e9e9e 1px solid #9e9e9e 1px dashed; }

.q-dark div .q-calendar-daily__day--droppable,
.body--dark div .q-calendar-daily__day--droppable,
.q-calendar--dark .q-calendar-daily__day--droppable {
  border: #9e9e9e 1px dashed; }

.q-calendar-daily__header__container {
  display: flex; }

.q-calendar-daily__header__wrapper {
  display: inline-flex;
  flex-direction: column; }

.q-calendar {
  min-width: 300px; }

.q-calendar-weekly .q-calendar-weekly__head-workweek {
  border-right: #e0e0e0 1px solid;
  border-bottom: #e0e0e0 1px solid;
  color: #616161;
  font-weight: 600;
  align-items: center; }

.q-calendar-weekly .q-calendar-weekly__head-weekday {
  border-right: #e0e0e0 1px solid;
  border-left: #e0e0e0 1px solid;
  color: #616161;
  font-weight: 400; }

.q-calendar-weekly .q-calendar-weekly__workweek {
  border-right: #e0e0e0 1px solid;
  border-bottom: #e0e0e0 1px solid;
  font-weight: 600;
  align-items: center;
  justify-content: center; }
  .q-calendar-weekly .q-calendar-weekly__workweek.q-past-day {
    color: #616161; }
  .q-calendar-weekly .q-calendar-weekly__workweek.q-future-day {
    color: #616161; }
  .q-calendar-weekly .q-calendar-weekly__workweek.q-current-day {
    color: #027BE3; }

.q-calendar-weekly .q-calendar-weekly__day {
  border-right: #e0e0e0 1px solid;
  color: #616161; }
  .q-calendar-weekly .q-calendar-weekly__day.q-selected-day, .q-calendar-weekly .q-calendar-weekly__day.q-selected-date {
    background: #cce7ff !important;
    color: #027BE3 !important; }
  .q-calendar-weekly .q-calendar-weekly__day.q-outside {
    color: #424242; }
    .q-calendar-weekly .q-calendar-weekly__day.q-outside.q-selected-day, .q-calendar-weekly .q-calendar-weekly__day.q-outside.q-selected-date {
      color: #80c4fe !important; }
  .q-calendar-weekly .q-calendar-weekly__day.q-future-day {
    color: #616161; }
  .q-calendar-weekly .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-label {
    font-weight: 400;
    color: #027BE3; }
    .q-calendar-weekly .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-label .q-btn__wrapper:before {
      border-width: 1px; }
  .q-calendar-weekly .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-month {
    color: currentColor; }
  .q-calendar-weekly .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-month--day-of-year {
    color: currentColor; }

.q-calendar-weekly__day--droppable {
  border-right: #027BE3 1px dashed; }

.q-calendar-weekly {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 100%; }
  .q-calendar-weekly__head {
    display: flex;
    flex-wrap: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .q-calendar-weekly__head-workweek {
    display: flex;
    flex-wrap: nowrap;
    width: 50px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 0 4px;
    font-size: 1rem;
    justify-content: center; }
  .q-calendar-weekly__head-weekday {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 0 4px;
    font-size: 1rem;
    justify-content: center; }
  .q-calendar-weekly__week {
    border-bottom: #e0e0e0 1px solid;
    position: relative;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: nowrap; }
    .q-calendar-weekly__week--wrapper {
      display: flex;
      flex-wrap: nowrap;
      position: relative; }
    .q-calendar-weekly__week-days {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex: 1 0 auto;
      flex-wrap: nowrap; }
    .q-calendar-weekly__week-events {
      position: absolute;
      top: 2.6em;
      bottom: 0;
      width: 100%;
      overflow: hidden; }
  .q-calendar-weekly__workweek {
    display: flex;
    flex-wrap: nowrap;
    width: 50px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 0 4px;
    font-size: 1.4em;
    align-items: center; }
  .q-calendar-weekly__day {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative; }
  .q-calendar-weekly__day-label {
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    box-shadow: none;
    color: currentColor;
    text-align: center;
    left: 0;
    top: 2px;
    border-radius: 50%;
    min-width: 1em;
    min-height: 1em;
    line-height: 1em;
    font-weight: 400; }
  .q-calendar-weekly__day-month {
    text-decoration: none;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    box-shadow: none;
    top: 5px;
    right: 2px;
    height: 1em;
    line-height: 1em; }
  .q-calendar-weekly__day-month--day-of-year {
    position: absolute;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    box-shadow: none;
    top: 2px;
    right: 2px;
    font-size: 0.6rem; }

.q-calendar-mini .q-calendar-weekly__head-workweek {
  border-right: unset;
  border-bottom: unset; }

.q-calendar-mini .q-calendar-weekly__head-weekday {
  border: 0 !important; }

.q-calendar-mini .q-calendar-weekly__workweek {
  border-right: unset;
  border-bottom: unset;
  font-size: 1em; }

.q-calendar-mini .q-calendar-weekly__day {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 2.2em;
  min-width: 2.2em;
  padding: 0;
  border: 0 !important; }
  .q-calendar-mini .q-calendar-weekly__day.q-past-day {
    color: #616161; }
  .q-calendar-mini .q-calendar-weekly__day.q-outside {
    background: transparent !important;
    color: #c7c7c7; }
  .q-calendar-mini .q-calendar-weekly__day.q-selected-day {
    background: transparent !important; }
    .q-calendar-mini .q-calendar-weekly__day.q-selected-day:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1.6em;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background: #cce7ff; }
    .q-calendar-mini .q-calendar-weekly__day.q-selected-day.q-selected-date .q-calendar-weekly__day-label, .q-calendar-mini .q-calendar-weekly__day.q-selected-day.q-selected-day-first .q-calendar-weekly__day-label, .q-calendar-mini .q-calendar-weekly__day.q-selected-day.q-selected-day-last .q-calendar-weekly__day-label {
      background: #027BE3 !important;
      color: #fff !important;
      border-radius: 50%; }
    .q-calendar-mini .q-calendar-weekly__day.q-selected-day.q-selected-date:before, .q-calendar-mini .q-calendar-weekly__day.q-selected-day.q-selected-day-first:before {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%; }
    .q-calendar-mini .q-calendar-weekly__day.q-selected-day.q-selected-day-last:before {
      width: 25%;
      right: auto;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%; }
    .q-calendar-mini .q-calendar-weekly__day.q-selected-day.q-selected-day-last.q-selected-day-first:before {
      width: 0; }

.q-calendar-mini .q-calendar-weekly__day-label {
  position: absolute;
  text-align: center;
  top: unset;
  right: 0;
  bottom: unset;
  left: 0;
  margin: auto; }
  .q-calendar-mini .q-calendar-weekly__day-label.q-selected-date {
    background: #027BE3 !important;
    color: #fff !important; }

.q-calendar-mini .q-event:not(.q-event-void):after {
  content: '';
  width: 0.6em;
  height: 0.4em;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  background: #027BE3; }

.q-calendar-mini .q-calendar-weekly__week {
  min-height: 3em;
  border-bottom: unset; }

.q-dark div.q-calendar-weekly .q-calendar-weekly__head-workweek,
.body--dark div.q-calendar-weekly .q-calendar-weekly__head-workweek,
.q-calendar--dark.q-calendar-weekly .q-calendar-weekly__head-workweek {
  border-right: #9e9e9e 1px solid;
  border-bottom: #9e9e9e 1px solid;
  color: #ffff66; }

.q-dark div.q-calendar-weekly .q-calendar-weekly__head-weekday,
.body--dark div.q-calendar-weekly .q-calendar-weekly__head-weekday,
.q-calendar--dark.q-calendar-weekly .q-calendar-weekly__head-weekday {
  border-right: #9e9e9e 1px solid;
  border-bottom: #9e9e9e 1px solid;
  color: #ffff66; }

.q-dark div.q-calendar-weekly .q-calendar-weekly__workweek,
.body--dark div.q-calendar-weekly .q-calendar-weekly__workweek,
.q-calendar--dark.q-calendar-weekly .q-calendar-weekly__workweek {
  border-right: #9e9e9e 1px solid;
  border-bottom: #9e9e9e 1px solid; }
  .q-dark div.q-calendar-weekly .q-calendar-weekly__workweek.q-past-day,
  .body--dark div.q-calendar-weekly .q-calendar-weekly__workweek.q-past-day,
  .q-calendar--dark.q-calendar-weekly .q-calendar-weekly__workweek.q-past-day {
    color: #eeeeee; }
  .q-dark div.q-calendar-weekly .q-calendar-weekly__workweek.q-future-day,
  .body--dark div.q-calendar-weekly .q-calendar-weekly__workweek.q-future-day,
  .q-calendar--dark.q-calendar-weekly .q-calendar-weekly__workweek.q-future-day {
    color: #ffffcc; }
  .q-dark div.q-calendar-weekly .q-calendar-weekly__workweek.q-current-day,
  .body--dark div.q-calendar-weekly .q-calendar-weekly__workweek.q-current-day,
  .q-calendar--dark.q-calendar-weekly .q-calendar-weekly__workweek.q-current-day {
    color: #ffff66; }

.q-dark div.q-calendar-weekly .q-calendar-weekly__day,
.body--dark div.q-calendar-weekly .q-calendar-weekly__day,
.q-calendar--dark.q-calendar-weekly .q-calendar-weekly__day {
  border-right: #9e9e9e 1px solid;
  border-bottom: #9e9e9e 1px solid;
  color: #ffff66; }
  .q-dark div.q-calendar-weekly .q-calendar-weekly__day.q-outside,
  .body--dark div.q-calendar-weekly .q-calendar-weekly__day.q-outside,
  .q-calendar--dark.q-calendar-weekly .q-calendar-weekly__day.q-outside {
    background: #bebebe;
    color: #424242; }
  .q-dark div.q-calendar-weekly .q-calendar-weekly__day.q-future-day,
  .body--dark div.q-calendar-weekly .q-calendar-weekly__day.q-future-day,
  .q-calendar--dark.q-calendar-weekly .q-calendar-weekly__day.q-future-day {
    color: #ffffcc; }
  .q-dark div.q-calendar-weekly .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-label,
  .body--dark div.q-calendar-weekly .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-label,
  .q-calendar--dark.q-calendar-weekly .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-label {
    font-weight: 400;
    color: #ffff66; }
  .q-dark div.q-calendar-weekly .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-month,
  .body--dark div.q-calendar-weekly .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-month,
  .q-calendar--dark.q-calendar-weekly .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-month {
    color: currentColor; }
  .q-dark div.q-calendar-weekly .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-month--day-of-year,
  .body--dark div.q-calendar-weekly .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-month--day-of-year,
  .q-calendar--dark.q-calendar-weekly .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-month--day-of-year {
    color: currentColor; }
  .q-dark div.q-calendar-weekly .q-calendar-weekly__day.q-past-day,
  .body--dark div.q-calendar-weekly .q-calendar-weekly__day.q-past-day,
  .q-calendar--dark.q-calendar-weekly .q-calendar-weekly__day.q-past-day {
    color: #eeeeee; }

.q-dark div.q-calendar-weekly .q-calendar-weekly__day--droppable,
.body--dark div.q-calendar-weekly .q-calendar-weekly__day--droppable,
.q-calendar--dark.q-calendar-weekly .q-calendar-weekly__day--droppable {
  border-right: #ffff66 1px dashed; }

.q-dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day,
.body--dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day,
.q-calendar--dark.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day {
  color: #fff; }
  .q-dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-future-day, .q-dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-past-day,
  .body--dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-future-day,
  .body--dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-past-day,
  .q-calendar--dark.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-future-day,
  .q-calendar--dark.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-past-day {
    color: #eeeeee; }
  .q-dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-selected-date, .q-dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-selected-day,
  .body--dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-selected-date,
  .body--dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-selected-day,
  .q-calendar--dark.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-selected-date,
  .q-calendar--dark.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-selected-day {
    color: #fff !important; }
    .q-dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-selected-date:before, .q-dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-selected-day:before,
    .body--dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-selected-date:before,
    .body--dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-selected-day:before,
    .q-calendar--dark.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-selected-date:before,
    .q-calendar--dark.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-selected-day:before {
      background: #393939; }
  .q-dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-label .q-btn__wrapper:before,
  .body--dark div.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-label .q-btn__wrapper:before,
  .q-calendar--dark.q-calendar-weekly .q-calendar-mini .q-calendar-weekly__day.q-current-day .q-calendar-weekly__day-label .q-btn__wrapper:before {
    border-color: #ffff66; }

.q-event:first-child {
  margin-top: 3.0em; }

.q-calendar-mini .q-event {
  margin-top: 3.0em; }

.q-calendar-weekly__day-header__wrapper {
  display: flex;
  justify-content: center; }

.q-calendar-scheduler .q-calendar-scheduler__resources-head {
  border-right: #e0e0e0 1px solid;
  border-bottom: #e0e0e0 1px solid; }

.q-calendar-scheduler .q-calendar-scheduler__column-header--before {
  border-bottom: #e0e0e0 1px solid; }

.q-calendar-scheduler .q-calendar-scheduler__column-header--after {
  border-top: #e0e0e0 1px solid; }

.q-calendar-scheduler .q-calendar-scheduler__head-day {
  border-right: #e0e0e0 1px solid;
  border-bottom: #e0e0e0 1px solid;
  color: #027BE3; }
  .q-calendar-scheduler .q-calendar-scheduler__head-day.q-outside {
    background: #eeeeee;
    color: #424242; }
  .q-calendar-scheduler .q-calendar-scheduler__head-day.q-future-day .q-calendar-scheduler__head-day-label {
    color: #4eacfd; }
  .q-calendar-scheduler .q-calendar-scheduler__head-day.q-current-day .q-calendar-scheduler__head-day-label {
    font-weight: 700;
    color: #027BE3; }
    .q-calendar-scheduler .q-calendar-scheduler__head-day.q-current-day .q-calendar-scheduler__head-day-label .q-btn__wrapper:before {
      border-width: 1px; }
  .q-calendar-scheduler .q-calendar-scheduler__head-day.q-past-day .q-calendar-scheduler__head-weekday {
    color: #616161; }
  .q-calendar-scheduler .q-calendar-scheduler__head-day.q-past-day .q-calendar-scheduler__head-day-label {
    color: #616161; }

.q-calendar-scheduler .q-calendar-scheduler__resources-body {
  border-right: #e0e0e0 1px solid; }
  .q-calendar-scheduler .q-calendar-scheduler__resources-body .q-calendar-scheduler__resource-text {
    color: #616161; }

.q-calendar-scheduler .q-calendar-scheduler__day {
  border-right: #e0e0e0 1px solid;
  border-bottom: #e0e0e0 1px solid; }

.q-calendar-scheduler .q-calendar-scheduler__resource {
  border-top: #e0e0e0 1px solid;
  color: #616161; }
  .q-calendar-scheduler .q-calendar-scheduler__resource:first-child {
    border-top: none !important; }
  .q-calendar-scheduler .q-calendar-scheduler__resource:last-child {
    border-bottom: #e0e0e0 1px solid; }

.q-calendar-scheduler .q-calendar-scheduler__day-resource {
  border-top: #e0e0e0 1px solid;
  color: #616161; }
  .q-calendar-scheduler .q-calendar-scheduler__day-resource:first-child {
    border-top: none !important; }
  .q-calendar-scheduler .q-calendar-scheduler__day-resource:last-child {
    border-bottom: #e0e0e0 1px solid; }

.q-calendar-scheduler__day-resource--droppable {
  border: #027BE3 calendar-border-width dashed; }

.q-calendar-scheduler {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 100%; }
  .q-calendar-scheduler__head {
    flex: none;
    display: flex;
    overflow: hidden; }
  .q-calendar-scheduler__resources-head {
    flex: none;
    display: flex;
    overflow: hidden;
    vertical-align: bottom;
    width: 100px;
    color: #616161;
    border-bottom: #e0e0e0 1px solid; }
    .q-calendar-scheduler__resources-head--text {
      display: block;
      position: relative;
      font-size: 10px;
      text-align: center;
      vertical-align: bottom; }
  .q-calendar-scheduler__head-day {
    flex: 1 1 auto;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 0; }
  .q-calendar-scheduler__head-weekday {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 4px;
    font-size: 1rem;
    justify-content: left; }
  .q-calendar-scheduler__head-day-label {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 50%;
    cursor: pointer;
    left: 2px;
    bottom: 2px; }
  .q-calendar-scheduler__column-header__before {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 4px;
    font-size: 1rem;
    justify-content: left; }
  .q-calendar-scheduler__column-header__after {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 4px;
    font-size: 1rem;
    justify-content: left; }
  .q-calendar-scheduler__body {
    flex: 1 1 60%;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column; }
  .q-calendar-scheduler__scroll-area {
    overflow-y: scroll;
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start; }
  .q-calendar-scheduler__pane {
    width: 100%;
    overflow-y: hidden;
    flex: none;
    display: flex;
    align-items: flex-start; }
  .q-calendar-scheduler__day-container {
    position: relative;
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%; }
  .q-calendar-scheduler__resources-body {
    flex: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100px; }
  .q-calendar-scheduler__resource {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 4px;
    font-size: 1rem;
    justify-content: middle;
    overflow: hidden; }
  .q-calendar-scheduler__resource-text {
    display: block;
    position: relative;
    top: 10px;
    font-size: 12px; }
  .q-calendar-scheduler__day {
    flex: 1;
    width: 0;
    position: relative; }

.q-dark div.q-calendar-scheduler .q-calendar-scheduler__resources-head,
.body--dark div.q-calendar-scheduler .q-calendar-scheduler__resources-head,
.q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__resources-head {
  border-right: #9e9e9e 1px solid;
  border-bottom: #9e9e9e 1px solid;
  color: #ffff66; }

.q-dark div.q-calendar-scheduler .q-calendar-scheduler__column-header--before,
.body--dark div.q-calendar-scheduler .q-calendar-scheduler__column-header--before,
.q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__column-header--before {
  border-bottom: #9e9e9e 1px solid; }

.q-dark div.q-calendar-scheduler .q-calendar-scheduler__column-header--after,
.body--dark div.q-calendar-scheduler .q-calendar-scheduler__column-header--after,
.q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__column-header--after {
  border-top: #9e9e9e 1px solid; }

.q-dark div.q-calendar-scheduler .q-calendar-scheduler__head-day,
.body--dark div.q-calendar-scheduler .q-calendar-scheduler__head-day,
.q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__head-day {
  border-right: #9e9e9e 1px solid;
  border-bottom: #9e9e9e 1px solid;
  color: #ffff66; }
  .q-dark div.q-calendar-scheduler .q-calendar-scheduler__head-day.q-outside,
  .body--dark div.q-calendar-scheduler .q-calendar-scheduler__head-day.q-outside,
  .q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__head-day.q-outside {
    background: #bebebe;
    color: #424242; }
  .q-dark div.q-calendar-scheduler .q-calendar-scheduler__head-day.q-future-day .q-calendar-scheduler__head-day-label,
  .body--dark div.q-calendar-scheduler .q-calendar-scheduler__head-day.q-future-day .q-calendar-scheduler__head-day-label,
  .q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__head-day.q-future-day .q-calendar-scheduler__head-day-label {
    color: #ffff66; }
  .q-dark div.q-calendar-scheduler .q-calendar-scheduler__head-day.q-current-day .q-calendar-scheduler__head-day-label,
  .body--dark div.q-calendar-scheduler .q-calendar-scheduler__head-day.q-current-day .q-calendar-scheduler__head-day-label,
  .q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__head-day.q-current-day .q-calendar-scheduler__head-day-label {
    color: #ffff66; }
  .q-dark div.q-calendar-scheduler .q-calendar-scheduler__head-day.q-past-day .q-calendar-scheduler__head-weekday,
  .q-dark div.q-calendar-scheduler .q-calendar-scheduler__head-day.q-past-day .q-calendar-scheduler__head-day-label,
  .body--dark div.q-calendar-scheduler .q-calendar-scheduler__head-day.q-past-day .q-calendar-scheduler__head-weekday,
  .body--dark div.q-calendar-scheduler .q-calendar-scheduler__head-day.q-past-day .q-calendar-scheduler__head-day-label,
  .q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__head-day.q-past-day .q-calendar-scheduler__head-weekday,
  .q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__head-day.q-past-day .q-calendar-scheduler__head-day-label {
    color: #eeeeee; }

.q-dark div.q-calendar-scheduler .q-calendar-scheduler__resources-body,
.body--dark div.q-calendar-scheduler .q-calendar-scheduler__resources-body,
.q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__resources-body {
  border-right: #9e9e9e 1px solid; }
  .q-dark div.q-calendar-scheduler .q-calendar-scheduler__resources-body .q-calendar-scheduler__resource-text,
  .body--dark div.q-calendar-scheduler .q-calendar-scheduler__resources-body .q-calendar-scheduler__resource-text,
  .q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__resources-body .q-calendar-scheduler__resource-text {
    color: #fafafa; }

.q-dark div.q-calendar-scheduler .q-calendar-scheduler__day,
.body--dark div.q-calendar-scheduler .q-calendar-scheduler__day,
.q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__day {
  border-right: #9e9e9e 1px solid;
  border-bottom: #9e9e9e 1px solid; }

.q-dark div.q-calendar-scheduler .q-calendar-scheduler__resource,
.body--dark div.q-calendar-scheduler .q-calendar-scheduler__resource,
.q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__resource {
  border-top: #9e9e9e 1px solid;
  color: #ffff66; }
  .q-dark div.q-calendar-scheduler .q-calendar-scheduler__resource:first-child,
  .body--dark div.q-calendar-scheduler .q-calendar-scheduler__resource:first-child,
  .q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__resource:first-child {
    border-top: none !important; }
  .q-dark div.q-calendar-scheduler .q-calendar-scheduler__resource:last-child,
  .body--dark div.q-calendar-scheduler .q-calendar-scheduler__resource:last-child,
  .q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__resource:last-child {
    border-bottom: #9e9e9e 1px solid; }

.q-dark div.q-calendar-scheduler .q-calendar-scheduler__day-resource,
.body--dark div.q-calendar-scheduler .q-calendar-scheduler__day-resource,
.q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__day-resource {
  border-top: #9e9e9e 1px solid;
  color: #fafafa; }
  .q-dark div.q-calendar-scheduler .q-calendar-scheduler__day-resource:first-child,
  .body--dark div.q-calendar-scheduler .q-calendar-scheduler__day-resource:first-child,
  .q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__day-resource:first-child {
    border-top: none !important; }
  .q-dark div.q-calendar-scheduler .q-calendar-scheduler__day-resource:last-child,
  .body--dark div.q-calendar-scheduler .q-calendar-scheduler__day-resource:last-child,
  .q-calendar--dark.q-calendar-scheduler .q-calendar-scheduler__day-resource:last-child {
    border-bottom: #9e9e9e 1px solid; }

.q-dark div .q-calendar-scheduler__day-resource--droppable,
.body--dark div .q-calendar-scheduler__day-resource--droppable,
.q-calendar--dark .q-calendar-scheduler__day-resource--droppable {
  border: #ffff66 1px dashed; }

:root {
  --q-color-light: #bdbdbd;
  --q-color-faded: #777;
  --q-color-black: #000;
  --q-color-white: #fff;
  --q-color-red: #f44336;
  --q-color-red-1: #ffebee;
  --q-color-red-2: #ffcdd2;
  --q-color-red-3: #ef9a9a;
  --q-color-red-4: #e57373;
  --q-color-red-5: #ef5350;
  --q-color-red-6: #f44336;
  --q-color-red-7: #e53935;
  --q-color-red-8: #d32f2f;
  --q-color-red-9: #c62828;
  --q-color-red-10: #b71c1c;
  --q-color-red-11: #ff8a80;
  --q-color-red-12: #ff5252;
  --q-color-red-13: #ff1744;
  --q-color-red-14: #d50000;
  --q-color-pink: #e91e63;
  --q-color-pink-1: #fce4ec;
  --q-color-pink-2: #f8bbd0;
  --q-color-pink-3: #f48fb1;
  --q-color-pink-4: #f06292;
  --q-color-pink-5: #ec407a;
  --q-color-pink-6: #e91e63;
  --q-color-pink-7: #d81b60;
  --q-color-pink-8: #c2185b;
  --q-color-pink-9: #ad1457;
  --q-color-pink-10: #880e4f;
  --q-color-pink-11: #ff80ab;
  --q-color-pink-12: #ff4081;
  --q-color-pink-13: #f50057;
  --q-color-pink-14: #c51162;
  --q-color-purple: #9c27b0;
  --q-color-purple-1: #f3e5f5;
  --q-color-purple-2: #e1bee7;
  --q-color-purple-3: #ce93d8;
  --q-color-purple-4: #ba68c8;
  --q-color-purple-5: #ab47bc;
  --q-color-purple-6: #9c27b0;
  --q-color-purple-7: #8e24aa;
  --q-color-purple-8: #7b1fa2;
  --q-color-purple-9: #6a1b9a;
  --q-color-purple-10: #4a148c;
  --q-color-purple-11: #ea80fc;
  --q-color-purple-12: #e040fb;
  --q-color-purple-13: #d500f9;
  --q-color-purple-14: #aa00ff;
  --q-color-deep-purple: #673ab7;
  --q-color-deep-purple-1: #ede7f6;
  --q-color-deep-purple-2: #d1c4e9;
  --q-color-deep-purple-3: #b39ddb;
  --q-color-deep-purple-4: #9575cd;
  --q-color-deep-purple-5: #7e57c2;
  --q-color-deep-purple-6: #673ab7;
  --q-color-deep-purple-7: #5e35b1;
  --q-color-deep-purple-8: #512da8;
  --q-color-deep-purple-9: #4527a0;
  --q-color-deep-purple-10: #311b92;
  --q-color-deep-purple-11: #b388ff;
  --q-color-deep-purple-12: #7c4dff;
  --q-color-deep-purple-13: #651fff;
  --q-color-deep-purple-14: #6200ea;
  --q-color-indigo: #3f51b5;
  --q-color-indigo-1: #e8eaf6;
  --q-color-indigo-2: #c5cae9;
  --q-color-indigo-3: #9fa8da;
  --q-color-indigo-4: #7986cb;
  --q-color-indigo-5: #5c6bc0;
  --q-color-indigo-6: #3f51b5;
  --q-color-indigo-7: #3949ab;
  --q-color-indigo-8: #303f9f;
  --q-color-indigo-9: #283593;
  --q-color-indigo-10: #1a237e;
  --q-color-indigo-11: #8c9eff;
  --q-color-indigo-12: #536dfe;
  --q-color-indigo-13: #3d5afe;
  --q-color-indigo-14: #304ffe;
  --q-color-blue: #2196f3;
  --q-color-blue-1: #e3f2fd;
  --q-color-blue-2: #bbdefb;
  --q-color-blue-3: #90caf9;
  --q-color-blue-4: #64b5f6;
  --q-color-blue-5: #42a5f5;
  --q-color-blue-6: #2196f3;
  --q-color-blue-7: #1e88e5;
  --q-color-blue-8: #1976d2;
  --q-color-blue-9: #1565c0;
  --q-color-blue-10: #0d47a1;
  --q-color-blue-11: #82b1ff;
  --q-color-blue-12: #448aff;
  --q-color-blue-13: #2979ff;
  --q-color-blue-14: #2962ff;
  --q-color-light-blue: #03a9f4;
  --q-color-light-blue-1: #e1f5fe;
  --q-color-light-blue-2: #b3e5fc;
  --q-color-light-blue-3: #81d4fa;
  --q-color-light-blue-4: #4fc3f7;
  --q-color-light-blue-5: #29b6f6;
  --q-color-light-blue-6: #03a9f4;
  --q-color-light-blue-7: #039be5;
  --q-color-light-blue-8: #0288d1;
  --q-color-light-blue-9: #0277bd;
  --q-color-light-blue-10: #01579b;
  --q-color-light-blue-11: #80d8ff;
  --q-color-light-blue-12: #40c4ff;
  --q-color-light-blue-13: #00b0ff;
  --q-color-light-blue-14: #0091ea;
  --q-color-cyan: #00bcd4;
  --q-color-cyan-1: #e0f7fa;
  --q-color-cyan-2: #b2ebf2;
  --q-color-cyan-3: #80deea;
  --q-color-cyan-4: #4dd0e1;
  --q-color-cyan-5: #26c6da;
  --q-color-cyan-6: #00bcd4;
  --q-color-cyan-7: #00acc1;
  --q-color-cyan-8: #0097a7;
  --q-color-cyan-9: #00838f;
  --q-color-cyan-10: #006064;
  --q-color-cyan-11: #84ffff;
  --q-color-cyan-12: #18ffff;
  --q-color-cyan-13: #00e5ff;
  --q-color-cyan-14: #00b8d4;
  --q-color-teal: #009688;
  --q-color-teal-1: #e0f2f1;
  --q-color-teal-2: #b2dfdb;
  --q-color-teal-3: #80cbc4;
  --q-color-teal-4: #4db6ac;
  --q-color-teal-5: #26a69a;
  --q-color-teal-6: #009688;
  --q-color-teal-7: #00897b;
  --q-color-teal-8: #00796b;
  --q-color-teal-9: #00695c;
  --q-color-teal-10: #004d40;
  --q-color-teal-11: #a7ffeb;
  --q-color-teal-12: #64ffda;
  --q-color-teal-13: #1de9b6;
  --q-color-teal-14: #00bfa5;
  --q-color-green: #4caf50;
  --q-color-green-1: #e8f5e9;
  --q-color-green-2: #c8e6c9;
  --q-color-green-3: #a5d6a7;
  --q-color-green-4: #81c784;
  --q-color-green-5: #66bb6a;
  --q-color-green-6: #4caf50;
  --q-color-green-7: #43a047;
  --q-color-green-8: #388e3c;
  --q-color-green-9: #2e7d32;
  --q-color-green-10: #1b5e20;
  --q-color-green-11: #b9f6ca;
  --q-color-green-12: #69f0ae;
  --q-color-green-13: #00e676;
  --q-color-green-14: #00c853;
  --q-color-light-green: #8bc34a;
  --q-color-light-green-1: #f1f8e9;
  --q-color-light-green-2: #dcedc8;
  --q-color-light-green-3: #c5e1a5;
  --q-color-light-green-4: #aed581;
  --q-color-light-green-5: #9ccc65;
  --q-color-light-green-6: #8bc34a;
  --q-color-light-green-7: #7cb342;
  --q-color-light-green-8: #689f38;
  --q-color-light-green-9: #558b2f;
  --q-color-light-green-10: #33691e;
  --q-color-light-green-11: #ccff90;
  --q-color-light-green-12: #b2ff59;
  --q-color-light-green-13: #76ff03;
  --q-color-light-green-14: #64dd17;
  --q-color-lime: #cddc39;
  --q-color-lime-1: #f9fbe7;
  --q-color-lime-2: #f0f4c3;
  --q-color-lime-3: #e6ee9c;
  --q-color-lime-4: #dce775;
  --q-color-lime-5: #d4e157;
  --q-color-lime-6: #cddc39;
  --q-color-lime-7: #c0ca33;
  --q-color-lime-8: #afb42b;
  --q-color-lime-9: #9e9d24;
  --q-color-lime-10: #827717;
  --q-color-lime-11: #f4ff81;
  --q-color-lime-12: #eeff41;
  --q-color-lime-13: #c6ff00;
  --q-color-lime-14: #aeea00;
  --q-color-yellow: #ffeb3b;
  --q-color-yellow-1: #fffde7;
  --q-color-yellow-2: #fff9c4;
  --q-color-yellow-3: #fff59d;
  --q-color-yellow-4: #fff176;
  --q-color-yellow-5: #ffee58;
  --q-color-yellow-6: #ffeb3b;
  --q-color-yellow-7: #fdd835;
  --q-color-yellow-8: #fbc02d;
  --q-color-yellow-9: #f9a825;
  --q-color-yellow-10: #f57f17;
  --q-color-yellow-11: #ffff8d;
  --q-color-yellow-12: #ffff00;
  --q-color-yellow-13: #ffea00;
  --q-color-yellow-14: #ffd600;
  --q-color-amber: #ffc107;
  --q-color-amber-1: #fff8e1;
  --q-color-amber-2: #ffecb3;
  --q-color-amber-3: #ffe082;
  --q-color-amber-4: #ffd54f;
  --q-color-amber-5: #ffca28;
  --q-color-amber-6: #ffc107;
  --q-color-amber-7: #ffb300;
  --q-color-amber-8: #ffa000;
  --q-color-amber-9: #ff8f00;
  --q-color-amber-10: #ff6f00;
  --q-color-amber-11: #ffe57f;
  --q-color-amber-12: #ffd740;
  --q-color-amber-13: #ffc400;
  --q-color-amber-14: #ffab00;
  --q-color-orange: #ff9800;
  --q-color-orange-1: #fff3e0;
  --q-color-orange-2: #ffe0b2;
  --q-color-orange-3: #ffcc80;
  --q-color-orange-4: #ffb74d;
  --q-color-orange-5: #ffa726;
  --q-color-orange-6: #ff9800;
  --q-color-orange-7: #fb8c00;
  --q-color-orange-8: #f57c00;
  --q-color-orange-9: #ef6c00;
  --q-color-orange-10: #e65100;
  --q-color-orange-11: #ffd180;
  --q-color-orange-12: #ffab40;
  --q-color-orange-13: #ff9100;
  --q-color-orange-14: #ff6d00;
  --q-color-deep-orange: #ff5722;
  --q-color-deep-orange-1: #fbe9e7;
  --q-color-deep-orange-2: #ffccbc;
  --q-color-deep-orange-3: #ffab91;
  --q-color-deep-orange-4: #ff8a65;
  --q-color-deep-orange-5: #ff7043;
  --q-color-deep-orange-6: #ff5722;
  --q-color-deep-orange-7: #f4511e;
  --q-color-deep-orange-8: #e64a19;
  --q-color-deep-orange-9: #d84315;
  --q-color-deep-orange-10: #bf360c;
  --q-color-deep-orange-11: #ff9e80;
  --q-color-deep-orange-12: #ff6e40;
  --q-color-deep-orange-13: #ff3d00;
  --q-color-deep-orange-14: #dd2c00;
  --q-color-brown: #795548;
  --q-color-brown-1: #efebe9;
  --q-color-brown-2: #d7ccc8;
  --q-color-brown-3: #bcaaa4;
  --q-color-brown-4: #a1887f;
  --q-color-brown-5: #8d6e63;
  --q-color-brown-6: #795548;
  --q-color-brown-7: #6d4c41;
  --q-color-brown-8: #5d4037;
  --q-color-brown-9: #4e342e;
  --q-color-brown-10: #3e2723;
  --q-color-brown-11: #d7ccc8;
  --q-color-brown-12: #bcaaa4;
  --q-color-brown-13: #8d6e63;
  --q-color-brown-14: #5d4037;
  --q-color-grey: #9e9e9e;
  --q-color-grey-1: #fafafa;
  --q-color-grey-2: #f5f5f5;
  --q-color-grey-3: #eeeeee;
  --q-color-grey-4: #e0e0e0;
  --q-color-grey-5: #bdbdbd;
  --q-color-grey-6: #9e9e9e;
  --q-color-grey-7: #757575;
  --q-color-grey-8: #616161;
  --q-color-grey-9: #424242;
  --q-color-grey-10: #212121;
  --q-color-grey-11: #f5f5f5;
  --q-color-grey-12: #eeeeee;
  --q-color-grey-13: #bdbdbd;
  --q-color-grey-14: #616161;
  --q-color-blue-grey: #607d8b;
  --q-color-blue-grey-1: #eceff1;
  --q-color-blue-grey-2: #cfd8dc;
  --q-color-blue-grey-3: #b0bec5;
  --q-color-blue-grey-4: #90a4ae;
  --q-color-blue-grey-5: #78909c;
  --q-color-blue-grey-6: #607d8b;
  --q-color-blue-grey-7: #546e7a;
  --q-color-blue-grey-8: #455a64;
  --q-color-blue-grey-9: #37474f;
  --q-color-blue-grey-10: #263238;
  --q-color-blue-grey-11: #cfd8dc;
  --q-color-blue-grey-12: #b0bec5;
  --q-color-blue-grey-13: #78909c;
  --q-color-blue-grey-14: #455a64; }

.border-color-primary {
  border-color: #027BE3; }

.border-color-secondary {
  border-color: #26A69A; }

.border-color-accent {
  border-color: #9C27B0; }

.border-color-positive {
  border-color: #21BA45; }

.border-color-negative {
  border-color: #C10015; }

.border-color-info {
  border-color: #31CCEC; }

.border-color-warning {
  border-color: #F2C037; }

.border-color-light {
  border-color: #bdbdbd; }

.border-color-dark {
  border-color: #424242; }

.border-color-faded {
  border-color: #777; }

.border-color-black {
  border-color: #000; }

.border-color-white {
  border-color: #fff; }

.border-color-red {
  border-color: #f44336; }

.border-color-red-1 {
  border-color: #ffebee; }

.border-color-red-2 {
  border-color: #ffcdd2; }

.border-color-red-3 {
  border-color: #ef9a9a; }

.border-color-red-4 {
  border-color: #e57373; }

.border-color-red-5 {
  border-color: #ef5350; }

.border-color-red-6 {
  border-color: #f44336; }

.border-color-red-7 {
  border-color: #e53935; }

.border-color-red-8 {
  border-color: #d32f2f; }

.border-color-red-9 {
  border-color: #c62828; }

.border-color-red-10 {
  border-color: #b71c1c; }

.border-color-red-11 {
  border-color: #ff8a80; }

.border-color-red-12 {
  border-color: #ff5252; }

.border-color-red-13 {
  border-color: #ff1744; }

.border-color-red-14 {
  border-color: #d50000; }

.border-color-pink {
  border-color: #e91e63; }

.border-color-pink-1 {
  border-color: #fce4ec; }

.border-color-pink-2 {
  border-color: #f8bbd0; }

.border-color-pink-3 {
  border-color: #f48fb1; }

.border-color-pink-4 {
  border-color: #f06292; }

.border-color-pink-5 {
  border-color: #ec407a; }

.border-color-pink-6 {
  border-color: #e91e63; }

.border-color-pink-7 {
  border-color: #d81b60; }

.border-color-pink-8 {
  border-color: #c2185b; }

.border-color-pink-9 {
  border-color: #ad1457; }

.border-color-pink-10 {
  border-color: #880e4f; }

.border-color-pink-11 {
  border-color: #ff80ab; }

.border-color-pink-12 {
  border-color: #ff4081; }

.border-color-pink-13 {
  border-color: #f50057; }

.border-color-pink-14 {
  border-color: #c51162; }

.border-color-purple {
  border-color: #9c27b0; }

.border-color-purple-1 {
  border-color: #f3e5f5; }

.border-color-purple-2 {
  border-color: #e1bee7; }

.border-color-purple-3 {
  border-color: #ce93d8; }

.border-color-purple-4 {
  border-color: #ba68c8; }

.border-color-purple-5 {
  border-color: #ab47bc; }

.border-color-purple-6 {
  border-color: #9c27b0; }

.border-color-purple-7 {
  border-color: #8e24aa; }

.border-color-purple-8 {
  border-color: #7b1fa2; }

.border-color-purple-9 {
  border-color: #6a1b9a; }

.border-color-purple-10 {
  border-color: #4a148c; }

.border-color-purple-11 {
  border-color: #ea80fc; }

.border-color-purple-12 {
  border-color: #e040fb; }

.border-color-purple-13 {
  border-color: #d500f9; }

.border-color-purple-14 {
  border-color: #aa00ff; }

.border-color-deep-purple {
  border-color: #673ab7; }

.border-color-deep-purple-1 {
  border-color: #ede7f6; }

.border-color-deep-purple-2 {
  border-color: #d1c4e9; }

.border-color-deep-purple-3 {
  border-color: #b39ddb; }

.border-color-deep-purple-4 {
  border-color: #9575cd; }

.border-color-deep-purple-5 {
  border-color: #7e57c2; }

.border-color-deep-purple-6 {
  border-color: #673ab7; }

.border-color-deep-purple-7 {
  border-color: #5e35b1; }

.border-color-deep-purple-8 {
  border-color: #512da8; }

.border-color-deep-purple-9 {
  border-color: #4527a0; }

.border-color-deep-purple-10 {
  border-color: #311b92; }

.border-color-deep-purple-11 {
  border-color: #b388ff; }

.border-color-deep-purple-12 {
  border-color: #7c4dff; }

.border-color-deep-purple-13 {
  border-color: #651fff; }

.border-color-deep-purple-14 {
  border-color: #6200ea; }

.border-color-indigo {
  border-color: #3f51b5; }

.border-color-indigo-1 {
  border-color: #e8eaf6; }

.border-color-indigo-2 {
  border-color: #c5cae9; }

.border-color-indigo-3 {
  border-color: #9fa8da; }

.border-color-indigo-4 {
  border-color: #7986cb; }

.border-color-indigo-5 {
  border-color: #5c6bc0; }

.border-color-indigo-6 {
  border-color: #3f51b5; }

.border-color-indigo-7 {
  border-color: #3949ab; }

.border-color-indigo-8 {
  border-color: #303f9f; }

.border-color-indigo-9 {
  border-color: #283593; }

.border-color-indigo-10 {
  border-color: #1a237e; }

.border-color-indigo-11 {
  border-color: #8c9eff; }

.border-color-indigo-12 {
  border-color: #536dfe; }

.border-color-indigo-13 {
  border-color: #3d5afe; }

.border-color-indigo-14 {
  border-color: #304ffe; }

.border-color-blue {
  border-color: #2196f3; }

.border-color-blue-1 {
  border-color: #e3f2fd; }

.border-color-blue-2 {
  border-color: #bbdefb; }

.border-color-blue-3 {
  border-color: #90caf9; }

.border-color-blue-4 {
  border-color: #64b5f6; }

.border-color-blue-5 {
  border-color: #42a5f5; }

.border-color-blue-6 {
  border-color: #2196f3; }

.border-color-blue-7 {
  border-color: #1e88e5; }

.border-color-blue-8 {
  border-color: #1976d2; }

.border-color-blue-9 {
  border-color: #1565c0; }

.border-color-blue-10 {
  border-color: #0d47a1; }

.border-color-blue-11 {
  border-color: #82b1ff; }

.border-color-blue-12 {
  border-color: #448aff; }

.border-color-blue-13 {
  border-color: #2979ff; }

.border-color-blue-14 {
  border-color: #2962ff; }

.border-color-light-blue {
  border-color: #03a9f4; }

.border-color-light-blue-1 {
  border-color: #e1f5fe; }

.border-color-light-blue-2 {
  border-color: #b3e5fc; }

.border-color-light-blue-3 {
  border-color: #81d4fa; }

.border-color-light-blue-4 {
  border-color: #4fc3f7; }

.border-color-light-blue-5 {
  border-color: #29b6f6; }

.border-color-light-blue-6 {
  border-color: #03a9f4; }

.border-color-light-blue-7 {
  border-color: #039be5; }

.border-color-light-blue-8 {
  border-color: #0288d1; }

.border-color-light-blue-9 {
  border-color: #0277bd; }

.border-color-light-blue-10 {
  border-color: #01579b; }

.border-color-light-blue-11 {
  border-color: #80d8ff; }

.border-color-light-blue-12 {
  border-color: #40c4ff; }

.border-color-light-blue-13 {
  border-color: #00b0ff; }

.border-color-light-blue-14 {
  border-color: #0091ea; }

.border-color-cyan {
  border-color: #00bcd4; }

.border-color-cyan-1 {
  border-color: #e0f7fa; }

.border-color-cyan-2 {
  border-color: #b2ebf2; }

.border-color-cyan-3 {
  border-color: #80deea; }

.border-color-cyan-4 {
  border-color: #4dd0e1; }

.border-color-cyan-5 {
  border-color: #26c6da; }

.border-color-cyan-6 {
  border-color: #00bcd4; }

.border-color-cyan-7 {
  border-color: #00acc1; }

.border-color-cyan-8 {
  border-color: #0097a7; }

.border-color-cyan-9 {
  border-color: #00838f; }

.border-color-cyan-10 {
  border-color: #006064; }

.border-color-cyan-11 {
  border-color: #84ffff; }

.border-color-cyan-12 {
  border-color: #18ffff; }

.border-color-cyan-13 {
  border-color: #00e5ff; }

.border-color-cyan-14 {
  border-color: #00b8d4; }

.border-color-teal {
  border-color: #009688; }

.border-color-teal-1 {
  border-color: #e0f2f1; }

.border-color-teal-2 {
  border-color: #b2dfdb; }

.border-color-teal-3 {
  border-color: #80cbc4; }

.border-color-teal-4 {
  border-color: #4db6ac; }

.border-color-teal-5 {
  border-color: #26a69a; }

.border-color-teal-6 {
  border-color: #009688; }

.border-color-teal-7 {
  border-color: #00897b; }

.border-color-teal-8 {
  border-color: #00796b; }

.border-color-teal-9 {
  border-color: #00695c; }

.border-color-teal-10 {
  border-color: #004d40; }

.border-color-teal-11 {
  border-color: #a7ffeb; }

.border-color-teal-12 {
  border-color: #64ffda; }

.border-color-teal-13 {
  border-color: #1de9b6; }

.border-color-teal-14 {
  border-color: #00bfa5; }

.border-color-green {
  border-color: #4caf50; }

.border-color-green-1 {
  border-color: #e8f5e9; }

.border-color-green-2 {
  border-color: #c8e6c9; }

.border-color-green-3 {
  border-color: #a5d6a7; }

.border-color-green-4 {
  border-color: #81c784; }

.border-color-green-5 {
  border-color: #66bb6a; }

.border-color-green-6 {
  border-color: #4caf50; }

.border-color-green-7 {
  border-color: #43a047; }

.border-color-green-8 {
  border-color: #388e3c; }

.border-color-green-9 {
  border-color: #2e7d32; }

.border-color-green-10 {
  border-color: #1b5e20; }

.border-color-green-11 {
  border-color: #b9f6ca; }

.border-color-green-12 {
  border-color: #69f0ae; }

.border-color-green-13 {
  border-color: #00e676; }

.border-color-green-14 {
  border-color: #00c853; }

.border-color-light-green {
  border-color: #8bc34a; }

.border-color-light-green-1 {
  border-color: #f1f8e9; }

.border-color-light-green-2 {
  border-color: #dcedc8; }

.border-color-light-green-3 {
  border-color: #c5e1a5; }

.border-color-light-green-4 {
  border-color: #aed581; }

.border-color-light-green-5 {
  border-color: #9ccc65; }

.border-color-light-green-6 {
  border-color: #8bc34a; }

.border-color-light-green-7 {
  border-color: #7cb342; }

.border-color-light-green-8 {
  border-color: #689f38; }

.border-color-light-green-9 {
  border-color: #558b2f; }

.border-color-light-green-10 {
  border-color: #33691e; }

.border-color-light-green-11 {
  border-color: #ccff90; }

.border-color-light-green-12 {
  border-color: #b2ff59; }

.border-color-light-green-13 {
  border-color: #76ff03; }

.border-color-light-green-14 {
  border-color: #64dd17; }

.border-color-lime {
  border-color: #cddc39; }

.border-color-lime-1 {
  border-color: #f9fbe7; }

.border-color-lime-2 {
  border-color: #f0f4c3; }

.border-color-lime-3 {
  border-color: #e6ee9c; }

.border-color-lime-4 {
  border-color: #dce775; }

.border-color-lime-5 {
  border-color: #d4e157; }

.border-color-lime-6 {
  border-color: #cddc39; }

.border-color-lime-7 {
  border-color: #c0ca33; }

.border-color-lime-8 {
  border-color: #afb42b; }

.border-color-lime-9 {
  border-color: #9e9d24; }

.border-color-lime-10 {
  border-color: #827717; }

.border-color-lime-11 {
  border-color: #f4ff81; }

.border-color-lime-12 {
  border-color: #eeff41; }

.border-color-lime-13 {
  border-color: #c6ff00; }

.border-color-lime-14 {
  border-color: #aeea00; }

.border-color-yellow {
  border-color: #ffeb3b; }

.border-color-yellow-1 {
  border-color: #fffde7; }

.border-color-yellow-2 {
  border-color: #fff9c4; }

.border-color-yellow-3 {
  border-color: #fff59d; }

.border-color-yellow-4 {
  border-color: #fff176; }

.border-color-yellow-5 {
  border-color: #ffee58; }

.border-color-yellow-6 {
  border-color: #ffeb3b; }

.border-color-yellow-7 {
  border-color: #fdd835; }

.border-color-yellow-8 {
  border-color: #fbc02d; }

.border-color-yellow-9 {
  border-color: #f9a825; }

.border-color-yellow-10 {
  border-color: #f57f17; }

.border-color-yellow-11 {
  border-color: #ffff8d; }

.border-color-yellow-12 {
  border-color: #ffff00; }

.border-color-yellow-13 {
  border-color: #ffea00; }

.border-color-yellow-14 {
  border-color: #ffd600; }

.border-color-amber {
  border-color: #ffc107; }

.border-color-amber-1 {
  border-color: #fff8e1; }

.border-color-amber-2 {
  border-color: #ffecb3; }

.border-color-amber-3 {
  border-color: #ffe082; }

.border-color-amber-4 {
  border-color: #ffd54f; }

.border-color-amber-5 {
  border-color: #ffca28; }

.border-color-amber-6 {
  border-color: #ffc107; }

.border-color-amber-7 {
  border-color: #ffb300; }

.border-color-amber-8 {
  border-color: #ffa000; }

.border-color-amber-9 {
  border-color: #ff8f00; }

.border-color-amber-10 {
  border-color: #ff6f00; }

.border-color-amber-11 {
  border-color: #ffe57f; }

.border-color-amber-12 {
  border-color: #ffd740; }

.border-color-amber-13 {
  border-color: #ffc400; }

.border-color-amber-14 {
  border-color: #ffab00; }

.border-color-orange {
  border-color: #ff9800; }

.border-color-orange-1 {
  border-color: #fff3e0; }

.border-color-orange-2 {
  border-color: #ffe0b2; }

.border-color-orange-3 {
  border-color: #ffcc80; }

.border-color-orange-4 {
  border-color: #ffb74d; }

.border-color-orange-5 {
  border-color: #ffa726; }

.border-color-orange-6 {
  border-color: #ff9800; }

.border-color-orange-7 {
  border-color: #fb8c00; }

.border-color-orange-8 {
  border-color: #f57c00; }

.border-color-orange-9 {
  border-color: #ef6c00; }

.border-color-orange-10 {
  border-color: #e65100; }

.border-color-orange-11 {
  border-color: #ffd180; }

.border-color-orange-12 {
  border-color: #ffab40; }

.border-color-orange-13 {
  border-color: #ff9100; }

.border-color-orange-14 {
  border-color: #ff6d00; }

.border-color-deep-orange {
  border-color: #ff5722; }

.border-color-deep-orange-1 {
  border-color: #fbe9e7; }

.border-color-deep-orange-2 {
  border-color: #ffccbc; }

.border-color-deep-orange-3 {
  border-color: #ffab91; }

.border-color-deep-orange-4 {
  border-color: #ff8a65; }

.border-color-deep-orange-5 {
  border-color: #ff7043; }

.border-color-deep-orange-6 {
  border-color: #ff5722; }

.border-color-deep-orange-7 {
  border-color: #f4511e; }

.border-color-deep-orange-8 {
  border-color: #e64a19; }

.border-color-deep-orange-9 {
  border-color: #d84315; }

.border-color-deep-orange-10 {
  border-color: #bf360c; }

.border-color-deep-orange-11 {
  border-color: #ff9e80; }

.border-color-deep-orange-12 {
  border-color: #ff6e40; }

.border-color-deep-orange-13 {
  border-color: #ff3d00; }

.border-color-deep-orange-14 {
  border-color: #dd2c00; }

.border-color-brown {
  border-color: #795548; }

.border-color-brown-1 {
  border-color: #efebe9; }

.border-color-brown-2 {
  border-color: #d7ccc8; }

.border-color-brown-3 {
  border-color: #bcaaa4; }

.border-color-brown-4 {
  border-color: #a1887f; }

.border-color-brown-5 {
  border-color: #8d6e63; }

.border-color-brown-6 {
  border-color: #795548; }

.border-color-brown-7 {
  border-color: #6d4c41; }

.border-color-brown-8 {
  border-color: #5d4037; }

.border-color-brown-9 {
  border-color: #4e342e; }

.border-color-brown-10 {
  border-color: #3e2723; }

.border-color-brown-11 {
  border-color: #d7ccc8; }

.border-color-brown-12 {
  border-color: #bcaaa4; }

.border-color-brown-13 {
  border-color: #8d6e63; }

.border-color-brown-14 {
  border-color: #5d4037; }

.border-color-grey {
  border-color: #9e9e9e; }

.border-color-grey-1 {
  border-color: #fafafa; }

.border-color-grey-2 {
  border-color: #f5f5f5; }

.border-color-grey-3 {
  border-color: #eeeeee; }

.border-color-grey-4 {
  border-color: #e0e0e0; }

.border-color-grey-5 {
  border-color: #bdbdbd; }

.border-color-grey-6 {
  border-color: #9e9e9e; }

.border-color-grey-7 {
  border-color: #757575; }

.border-color-grey-8 {
  border-color: #616161; }

.border-color-grey-9 {
  border-color: #424242; }

.border-color-grey-10 {
  border-color: #212121; }

.border-color-grey-11 {
  border-color: #f5f5f5; }

.border-color-grey-12 {
  border-color: #eeeeee; }

.border-color-grey-13 {
  border-color: #bdbdbd; }

.border-color-grey-14 {
  border-color: #616161; }

.border-color-blue-grey {
  border-color: #607d8b; }

.border-color-blue-grey-1 {
  border-color: #eceff1; }

.border-color-blue-grey-2 {
  border-color: #cfd8dc; }

.border-color-blue-grey-3 {
  border-color: #b0bec5; }

.border-color-blue-grey-4 {
  border-color: #90a4ae; }

.border-color-blue-grey-5 {
  border-color: #78909c; }

.border-color-blue-grey-6 {
  border-color: #607d8b; }

.border-color-blue-grey-7 {
  border-color: #546e7a; }

.border-color-blue-grey-8 {
  border-color: #455a64; }

.border-color-blue-grey-9 {
  border-color: #37474f; }

.border-color-blue-grey-10 {
  border-color: #263238; }

.border-color-blue-grey-11 {
  border-color: #cfd8dc; }

.border-color-blue-grey-12 {
  border-color: #b0bec5; }

.border-color-blue-grey-13 {
  border-color: #78909c; }

.border-color-blue-grey-14 {
  border-color: #455a64; }
