<template>
  <q-drawer
    @mouseover="mouseOver"
    @mouseout="mouseOut"
    :value="true"
    :mini="isMini"
    :width="240"
    :mini-width="20"
    :mini-to-overlay="!fixed"
    class="drawer"
    behavior="desktop"
    bordered
    content-class="bg-grey-1"
    content-style="box-shadow: inset -59px 0px 4px -60px  rgba(0,0,0,0.2);"
  >
    <q-scroll-area class="fit">
      <q-list padding style="padding-left: 20px; padding-right: 20px">
        <ProfileItem v-if="user" :fullName="user.name || user.login" />
        <NavigationItem v-for="menuItem in menuItems" :key="menuItem.title" :navigationItem="menuItem" />
      </q-list>
    </q-scroll-area>
    <ExpandButton @click="fix" @mouseover="mouseOverBtn" :icon="fixed ? 'chevron_left' : 'chevron_right'" />
  </q-drawer>
</template>

<script lang="ts">
  import { defineComponent } from '@vue/composition-api';
  import { useGetters } from '@u3u/vue-hooks';

  import { useNavigation } from 'components/MainLayout/useNavigation';
  import { menuItems } from '@/statics/menuItems';

  import ExpandButton from '@/components/MainLayout/ExpandButton.vue';
  import ProfileItem from '@/components/MainLayout/ProfileItem.vue';
  import NavigationItem from '@/components/MainLayout/NavigationItem.vue';

  export default defineComponent({
    name: 'DynamicNavigation',
    components: {
      ExpandButton,
      ProfileItem,
      NavigationItem
    },
    setup() {
      const { User: user } = useGetters('Auth', ['User']);
      return {
        ...useNavigation(),
        menuItems,
        user
      };
    }
  });
</script>
