<template>
  <q-drawer :value="true" mini :mini-width="64" dark behavior="desktop" content-class="bg-primary flex column justify-between q-py-md q-px-sm">
    <router-link to="/"><img src="~/assets/kfu_logo.svg" style="max-width:48px;"/></router-link>
    <q-item v-if="isAuthenticated" clickable v-ripple padding style="height: 48px" class="q-px-xs">
      <q-item-section avatar>
        <q-avatar size="35px">
          <UserImage/>
        </q-avatar>
        <UserMenu />
      </q-item-section>
    </q-item>
    <q-item v-else clickable v-ripple padding style="height: 48px" class="q-px-xs" :to="`/login`">
      <q-item-section avatar>
        <q-avatar icon="exit_to_app" color="white" text-color="primary" />
        <q-tooltip anchor="center right" self="center left" :offset="[10, 10]" transition-show="scale" transition-hide="scale">
          Войти в систему
        </q-tooltip>
      </q-item-section>
    </q-item>
  </q-drawer>
</template>

<script lang="ts">
  import { defineComponent } from '@vue/composition-api';
  import { useGetters } from '@u3u/vue-hooks';

  import UserMenu from '@/components/MainLayout/UserMenu.vue';
  import UserImage  from '@/components/UserImage.vue'

  export default defineComponent({
    name: 'GlobalNavigation',
    components: {
      UserMenu,
      UserImage
    },
    setup() {
      const { IsAuthenticated: isAuthenticated, User: user } = useGetters('Auth', ['IsAuthenticated', 'User']);
      return {
        isAuthenticated,
        user
      };
    }
  });
</script>
