<template>
  <q-item clickable v-ripple padding style="height: 48px;" class="q-px-xs q-mt-md q-mb-lg rounded-borders">
    <q-item-section avatar>
      <q-avatar rounded>
        <UserImage />
      </q-avatar>
    </q-item-section>
    <q-item-section class="ellipsis">
      {{ fullName }}
    </q-item-section>
  </q-item>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import UserImage from '@/components/UserImage.vue';

export default defineComponent({
  props: {
    avatarSrc: {
      type: String,
      default: '~assets/avatar.svg',
    },
    fullName: {
      type: String,
      default: '',
    },
  },
  components: {
    UserImage,
  },
});
</script>
