<template>
  <q-menu>
    <div class="row no-wrap q-pa-md">
      <div class="column items-center no-wrap" style="max-width: 200px;">
        <q-avatar size="72px">
          <UserImage />
        </q-avatar>

        <div class="text-subtitle1 full-width text-center q-mt-md q-mb-xs ellipsis">{{ user.name || user.login }}</div>

        <q-btn outline class="q-mt-md" color="primary" icon="power_settings_new" size="sm" label="Выйти" @click="logout" />
      </div>
      <q-separator vertical inset class="q-mx-sm" />
      <div class="column">
        <q-list padding>
          <NavigationItem v-for="menuItem in menuItems" :key="menuItem.title" :navigationItem="menuItem" />
        </q-list>
      </div>
    </div>
  </q-menu>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import { useGetters, useActions, useRouter } from '@u3u/vue-hooks';

import NavigationItem from '@/components/MainLayout/NavigationItem.vue';
import UserImage from '@/components/UserImage.vue';

export default defineComponent({
  name: 'UserMenu',
  components: {
    NavigationItem,
    UserImage,
  },
  setup() {
    const { User: user } = useGetters('Auth', ['User']);
    const { router } = useRouter();

    const menuItems = [
      {
        title: 'Профиль',
        icon: 'account_circle',
        link: '/profile',
      },
      {
        title: 'Сервисы',
        icon: 'settings',
        link: '/services',
      },
    ];

    if (user.value?.permissionCodes.includes('UploadTimetable')) {
      menuItems.push({
        title: 'Загрузить расписание',
        icon: 'backup',
        link: '/timetableUpload',
      });
    }

    const { logout: logoutAction } = useActions('Auth', ['logout']);
    const logout = async () => {
      await logoutAction();
      router.push('/login');
    };

    return {
      logout,
      user,
      menuItems,
    };
  },
});
</script>
