<template>
  <div>
    <LoginInput :v="$v" v-model="login" @submit="submit" />
    <q-btn unelevated class="full-width q-mt-xl" size="lg" rounded color="primary" label="Восстановить" @click="submit" :disable="$v.$invalid" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api';
import LoginInput from 'components/Authentication/LoginInput.vue';
// @ts-ignore
import { required } from '@vuelidate/validators';
import useVuelidate from 'boot/vuelidate';
import { useActions, useRouter } from '@u3u/vue-hooks';
import { triggerPositive } from '@/utils/Notifications';

export default defineComponent({
  name: 'ForgotPasswordForm',
  components: {
    LoginInput,
  },
  setup() {
    const { router } = useRouter();
    const login = ref('');
    // @ts-ignore
    const $v = useVuelidate(
      {
        login: { required, $autoDirty: true },
      },
      { login }
    );

    const { forgotPassword } = useActions('Auth', ['forgotPassword']);

    const submit = async () => {
      const email = await forgotPassword(login.value);
      triggerPositive(`На вашу почту ${email} было отправлено сообщение с инструкцией для восстановления пароля`, 4000);
      login.value = '';
      router.push('/login');
    };
    return {
      login,
      submit,
      $v,
    };
  },
});
</script>
