<template>
  <q-input
    color="primary"
    class="q-mt-lg"
    :label="label"
    :debounce="debounce"
    :autofocus="autofocus"
    bottom-slots
    counter
    lazy-rules
    :type="type ? 'text' : 'password'"
    :value="value"
    :error-message="errorMessage"
    :error="vuelidateModel.$error"
    @blur="vuelidateModel.$touch"
    @input="
      $emit('input', $event);
      vuelidateModel.$touch;
    "
    @keyup.enter="$emit('submit', $event)"
  >
    <template #prepend>
      <q-icon :name="prependIcon" />
    </template>
    <template #append>
      <q-icon :name="appendIcon" class="cursor-pointer" @click="$emit(appendIconClickEventName)" />
    </template>
  </q-input>
</template>

<script lang="ts">
  import { defineComponent } from '@vue/composition-api';

  export default defineComponent({
    name: 'FormInput',
    props: {
      label: {
        type: String,
        default: ''
      },
      type: {
        type: Boolean,
        default: true
      },
      value: {
        type: String,
        default: ''
      },
      errorMessage: {
        type: String,
        default: ''
      },
      prependIcon: {
        type: String,
        default: ''
      },
      appendIcon: {
        type: String,
        default: ''
      },
      appendIconClickEventName: {
        type: String,
        default: ''
      },
      debounce: {
        type: Number,
        default: 0
      },
      autofocus: {
        type: Boolean,
        default: false
      },
      vuelidateModel: {}
    }
  });
</script>
