<template>
  <FormInput
    label="Логин"
    :debounce="500"
    autofocus
    prependIcon="person"
    :value="value"
    :errorMessage="checkLoginError(v.login)"
    :vuelidateModel="v.login"
    @input="$emit('input', $event)"
    @submit="$emit('submit', $event)"
  />
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';

import FormInput from '@/components/Authentication/FormInput.vue';

export default defineComponent({
  name: 'LoginInput',
  components: {
    FormInput,
  },
  props: {
    v: {},
    value: {
      type: String,
      default: '',
    },
  },
  setup() {
    const checkLoginError = (val: any) => {
      if (val.required && val.required.$invalid) {
        return `Это поле обязательное для заполнения`;
      }
      if (val.loginExist && val.loginExist.$invalid) {
        return `Данный логин уже занят`;
      }
      return '';
    };

    return { checkLoginError };
  },
});
</script>
