<template>
  <div>
    <LoginInput :v="$v" v-model="login" />
    <EmailInput :v="$v" v-model="email" />
    <PasswordInput :v="$v" v-model="password" @submit="submit" />
    <q-btn
      unelevated
      class="full-width q-mt-xl"
      size="lg"
      rounded
      color="primary"
      label="Зарегистрироваться"
      @click="submit"
      :disable="$v.$invalid"
    />
    <router-link :to="`/login`" style="cursor: pointer;" class="q-mt-lg primary text-center" tag="div">Войти</router-link>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import { useActions } from '@u3u/vue-hooks';

import LoginInput from '@/components/Authentication/LoginInput.vue';
import PasswordInput from '@/components/Authentication/PasswordInput.vue';
import EmailInput from '@/components/Authentication/EmailInput.vue';

import { useForm } from '@/components/Authentication/useForm';
export default defineComponent({
  name: 'RegistrationForm',
  components: {
    LoginInput,
    PasswordInput,
    EmailInput,
  },
  setup() {
    const { register } = useActions('Auth', ['register']);
    return {
      ...useForm(register, 'registration'),
    };
  },
});
</script>
