<template>
  <q-input readonly outlined v-model="calendarDate" class="q-mt-md" :label="label">
    <template v-slot:append>
      <q-icon name="event" class="cursor-pointer">
        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
          <DatePicker :date="date" @dateChanged="handleDateChanged" />
        </q-popup-proxy>
      </q-icon>
    </template>
  </q-input>
</template>

<script lang="ts">
import { computed, defineComponent } from '@vue/composition-api';
import DatePicker from '@/components/Timetable/Calendar/DatePicker.vue';
import { formatDate, parseDate } from '@/utils/DateUtils';

export default defineComponent({
  name: 'DateInput',
  components: {
    DatePicker,
  },
  props: {
    date: {
      type: Date,
      default: new Date(),
      required: true,
    },
    label: {
      type: String,
      default: '',
    },
  },
  setup(props, ctx) {
    const calendarDate = computed({
      get: () => formatDate(props.date as Date, 'dd.MM.yyyy'),
      set: (value) => {
        ctx.emit('dateChanged', parseDate(value, 'dd.MM.yyyy'));
      },
    });

    const handleDateChanged = (value: any) => {
      ctx.emit('dateChanged', value);
    };
    return {
      calendarDate,
      handleDateChanged,
    };
  },
});
</script>
