<template>
  <div style="overflow: hidden;">
    <EventDialog :event="event" v-model="displayEvent" />
    <q-calendar
      class="calendar"
      v-model="selected"
      locale="ru-ru"
      animated
      transition-prev="slide-left"
      transition-next="slide-right"
      :view="calendarView"
      :weekdays="[1, 2, 3, 4, 5, 6]"
      :interval-minutes="60"
      :interval-start="intervalStart"
      :interval-count="intervalCount"
      :hour24-format="true"
      :day-height="dayHeight"
      :interval-height="58"
      :show-month-label="true"
      :short-weekday-label="true"
      @click:date="onDateChanged"
      day-padding="35px 0 0 0"
    >
      <template #day="{ date }">
        <DayEventBadge v-for="(event, index) in getEvents(date, 'weekly')" :key="index" :event="event" @showEvent="showEvent" />
        <div class="q-px-md" v-if="getElse(date) > 0">
          <q-btn size="10px" class="full-width" align="left" text-color="black" no-caps dense flat color="primary">
            <span class="q-ml-xs text-grey-8 text-weight-bold" style="font-size: 12px;">Еще {{ getElse(date) }}</span>
            <q-menu anchor="center middle" self="center middle">
              <div class="column no-wrap q-pa-md">
                <DayEventBadge v-for="(event, index) in getEvents(date)" :key="index" :event="event" @showEvent="showEvent" />
              </div>
            </q-menu>
          </q-btn>
        </div>
      </template>

      <template #day-body="data">
        <DayBodyEventBadge v-for="(event, index) in getEvents(data.date)" :key="index" :event="event" :data="data" @showEvent="showEvent" />
      </template>
    </q-calendar>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed, onMounted } from '@vue/composition-api';

import EventDialog from '@/components/Timetable/Event/EventDialog.vue';
import DayEventBadge from '@/components/Timetable/Calendar/DayEventBadge.vue';
import DayBodyEventBadge from '@/components/Timetable/Calendar/DayBodyEventBadge.vue';

import Lesson from '@/models/Lesson';
import { useGetters } from '@u3u/vue-hooks';
import { formatDate, parseDate } from '@/utils/DateUtils';

export default defineComponent({
  name: 'Calendar',
  components: {
    EventDialog,
    DayEventBadge,
    DayBodyEventBadge,
  },
  props: {
    calendarView: {
      type: String,
      default: 'week',
    },
    selectedDate: {
      type: Date,
      default: new Date(),
      required: true,
    },
  },
  setup(props, ctx) {
    const intervalRange = ref({ min: 7, max: 22 });
    const displayEvent = ref(false);
    const event = ref<Lesson>(null);
    const ignoreNextSwipe = ref(false);
    const { Lessons: lessons } = useGetters('Timetable', ['Lessons']);
    const dayHeight = ref((Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - 64 - 22) / 5);

    onMounted(() => {
      window.addEventListener('resize', () => {
        dayHeight.value = (Math.max(document.documentElement.clientHeight, window.innerHeight || 0) - 64 - 22) / 5;
      });
    });

    const selected = computed({
      get: () => formatDate(props.selectedDate as Date, 'yyyy-MM-dd'),
      set: (val) => {
        ctx.emit('selectedDateChanged', parseDate(val, 'yyyy-MM-dd'));
      },
    });

    const intervalStart = computed(() => intervalRange.value.min);
    const intervalCount = computed(() => intervalRange.value.max - intervalRange.value.min);
    const eventsMap = computed(() => {
      const map: { [date: string]: Lesson[] } = {};
      lessons.value.forEach((event: Lesson) => (map[event.date] = map[event.date] || []).push(event));
      return map;
    });

    const weeklyVisible = computed(() => {
      return Math.floor((dayHeight.value - 35) / 22.7);
    });

    const getElse = (dt: string) => {
      let less = lessons.value.filter((x: Lesson) => x.date == dt);
      let sliced = less.slice(0, weeklyVisible.value - 1);
      return less.length - sliced.length;
    };

    const getEvents = (dt: string, type?: string) => {
      let less = lessons.value.filter((x: Lesson) => x.date == dt);
      if (type === 'weekly') less = less.slice(0, weeklyVisible.value - 1);
      return less;
    };

    const showEvent = (ev: Lesson) => {
      event.value = ev;
      displayEvent.value = true;
    };

    const onDateChanged = () => {
      ctx.emit('calendarViewChanged', 'day');
    };

    return {
      selected,
      event,
      displayEvent,
      intervalStart,
      intervalCount,
      eventsMap,
      dayHeight,
      onDateChanged,
      getEvents,
      showEvent,
      getElse,
    };
  },
});
</script>

<style lang="sass">
.calendar-container
  position: relative
.q-calendar-daily__head-day-label
  font-size: 22px
.q-calendar-daily__intervals-head
  border-bottom: none
.q-calendar-weekly__day
  border-left: 1px solid #e0e0e0
.bg-calendar
  background: #027BE3
</style>
