<template>
  <q-date v-model="calendarDate" minimal :locale="ruLocale" :options="sundayFilter" flat mask="YYYY-MM-DD" />
</template>

<script lang="ts">
import { computed, defineComponent } from '@vue/composition-api';
import { formatDate, parseDate } from '@/utils/DateUtils';

export default defineComponent({
  name: 'DatePicker',
  props: {
    date: {
      type: Date,
      default: new Date(),
      required: true,
    },
  },
  setup(props, ctx) {
    const calendarDate = computed({
      get: () => formatDate(props.date as Date, 'yyyy-MM-dd'),
      set: (value) => {
        ctx.emit('dateChanged', parseDate(value, 'yyyy-MM-dd'));
      },
    });

    const ruLocale = {
      days: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
      daysShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
      months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
      monthsShort: ['Янв', 'Фев', 'Мрт', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Нбр', 'Дек'],
      firstDayOfWeek: 1,
    };

    const sundayFilter = (date: string) => {
      const parsedDate = new Date(date);
      return parsedDate.getDay() !== 0;
    };

    return {
      calendarDate,
      ruLocale,
      sundayFilter,
    };
  },
});
</script>
