<template>
  <q-badge
    class="my-event q-pa-sm"
    :class="badgeClasses(event)"
    :style="badgeStyles(event, data.timeStartPos, data.timeDurationHeight)"
    @click.stop.prevent="$emit('showEvent', event)"
  >
    <div class="column justify-start full-width ellipsis">
      <span class="text-weight-bold">{{ event.title }}</span>
      <span class="q-mt-sm">{{ event.time }} - {{ getEndTime(event) }}</span>
      <span class="q-mt-sm">Аудитория: {{ event.roomNumber }} </span>
    </div>
  </q-badge>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import { useCalendarBadge } from '@/components/Timetable/Calendar/useCalendarBadge';
import { useEventTime } from 'components/Timetable/useEventTime';

export default defineComponent({
  name: 'DayBodyEventBadge',
  props: {
    event: {
      type: Object,
    },
    data: {
      type: Object,
    },
  },
  setup() {
    return {
      ...useCalendarBadge(),
      ...useEventTime(),
    };
  },
});
</script>

<style lang="sass">
.my-event
  width: 100%
  position: absolute
  font-size: 12px
</style>
