<template>
  <q-page class="row q-col-gutter-x-xl">
    <div class="row col-sm-12 col-md-7 col-lg-6 gt-sm justify-end items-center">
      <img src="~assets/bg.svg" class="col-sm-8 col-md-9 col-lg-8 q-mr-xl" />
    </div>
    <div class="col-xs-10 offset-xs-1 offset-md-0 col-md-5 col-lg-6 row items-center justify-xs-center justify-md-start">
      <div class="col-xs-12 col-sm-8 col-lg-5 column justify-center">
        <img src="~assets/avatar.svg" style="height: 100px;" />
        <slot></slot>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  name: 'AuthLayout',
  setup() {
    return {};
  },
});
</script>
