<template>
  <q-layout view="hHh Lpr fFf">
    <q-page-container style="transition: 0.3s">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
  import { defineComponent } from '@vue/composition-api';

  export default defineComponent({
    name: 'SelectLayout'
  });
</script>
