<template>
  <AuthLayout>
    <ForgotPasswordForm />
  </AuthLayout>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import ForgotPasswordForm from '@/components/Authentication/ForgotPasswordForm.vue';
import AuthLayout from '@/layouts/AuthLayout.vue';
export default defineComponent({
  name: 'ForgotPassword',
  components: {
    AuthLayout,
    ForgotPasswordForm,
  },
  meta: {
    title: 'Забыл пароль',
  },
});
</script>
