<template>
  <q-page class="flex flex-center">
    Успеваемость
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api';
export default defineComponent({
  name: 'Performance',
  meta: {
    title: 'Успеваемость',
  },
  setup() {},
});
</script>
