<template>
  <q-page class="flex">
    <div class="row full-width justify-center" v-if="user">
      <div class="column col-xs-12 col-sm-10 col-md-8 col-lg-6 shadow-1 q-pa-lg">
        <div class="row">
          <div class="col-xs-12 col-md-3 full-height row justify-center">
            <div class="col-xs-4 col-md-12">
              <div style="border-radius: 50%; height: 0; padding-bottom: 100%; overflow: hidden;">
                <UserImage />
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-9 q-px-lg ellipsis q-mt-xs-lg q-mt-md-none">
            <span class="text-h6">{{ user.login }}</span>
            <q-separator />
            <component :is="profileComponent" />
          </div>
        </div>
        <div class="column q-mt-md">
          <q-separator spaced inset="true" style="height: 1px;" />
          <OptionalSections v-if="user.isStudent" />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { computed, defineComponent } from '@vue/composition-api';
import UserImage from '@/components/UserImage.vue';
import StudentForm from '@/components/Profile/StudentForm.vue';
import TeacherForm from '@/components/Profile/TeacherForm.vue';
import OptionalSections from 'components/OptionalSections.vue';
import { useGetters } from '@u3u/vue-hooks';

export default defineComponent({
  name: 'Profile',
  meta: {
    title: 'Профиль',
  },
  components: {
    UserImage,
    StudentForm,
    TeacherForm,
    OptionalSections,
  },
  setup() {
    const { User: user } = useGetters('Auth', ['User']);
    const profileComponent = computed(() => (user.value?.isStudent ? 'StudentForm' : 'TeacherForm'));

    return {
      profileComponent,
      user,
    };
  },
});
</script>
