<template>
  <AuthLayout>
    <RegistrationForm />
  </AuthLayout>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import RegistrationForm from '@/components/Authentication/RegistrationForm.vue';
import AuthLayout from '@/layouts/AuthLayout.vue';
export default defineComponent({
  name: 'Registration',
  components: {
    AuthLayout,
    RegistrationForm,
  },
  meta: {
    title: 'Регистрация',
  },
});
</script>
