<template>
  <AuthLayout>
    <ResetPasswordForm :token="token" />
  </AuthLayout>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import ResetPasswordForm from '@/components/Authentication/ResetPasswordForm.vue';
import AuthLayout from '@/layouts/AuthLayout.vue';
export default defineComponent({
  name: 'ResetPassword',
  components: {
    AuthLayout,
    ResetPasswordForm,
  },
  meta: {
    title: 'Сброс пароля',
  },
  setup(_, ctx) {
    const token = ctx.root.$route.query.token;
    return {
      token,
    };
  },
});
</script>
