<template>
  <q-page class="flex row items-center" style="overflow: hidden;">
    <div class="select row q-pa-xl shadow-1 col-xs-12 col-md-6 flex flex-center" style="height: 100vh;">
      <div class="column col-xs-12 col-sm-6">
        <img src="~assets/student.svg" class="full-width" />
        <q-btn unelevated class="q-mt-xl" size="lg" rounded color="primary" label="Я студент" @click="studentDialog = true" />
      </div>
    </div>
    <div class="select row q-pa-xl col-xs-12 col-md-6 flex flex-center" style="height: 100vh;">
      <div class="column col-xs-12 col-sm-6">
        <img src="~assets/teacher.svg" class="full-width" />
        <q-btn unelevated class="q-mt-xl" size="lg" rounded color="primary" label="Я преподаватель" @click="teacherDialog = true" />
      </div>
    </div>
    <q-dialog v-model="studentDialog" persistent>
      <q-card style="min-width: 400px;">
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Выберите курс и группу</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section>
          <CourseSelector
            :academicGroup="academicGroup"
            :course-number="courseNumber"
            @academicGroupChange="handleAcademicGroupChange"
            @courseNumberChange="handleChangeCourse"
            :isEdit="true"
          />
          <q-btn unelevated class="q-mt-xl full-width" size="lg" rounded color="primary" label="Выбрать" @click="selectStudent" />
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="teacherDialog" persistent>
      <q-card style="min-width: 400px;">
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Заполните ФИО</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section>
          <q-input outlined class="q-mt-md" v-model="surname" label="Фамилия"></q-input>
          <q-input outlined class="q-mt-md" v-model="name" label="Имя"></q-input>
          <q-input outlined class="q-mt-md" v-model="patronymic" label="Отчество"></q-input>
          <q-btn unelevated class="q-mt-xl full-width" size="lg" rounded color="primary" label="Выбрать" @click="selectTeacher" />
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api';
import CourseSelector from '@/components/Profile/CouserSelector.vue';
import { useActions, useRouter } from '@u3u/vue-hooks';
import { useCourseNumberAndAcademicGroup } from 'pages/useCourseNumberAndAcademicGroup';
import Student from '@/models/Student';
import { triggerNegative } from '@/utils/Notifications';
import Teacher from '@/models/Teacher';

export default defineComponent({
  name: 'Select',
  meta: {
    title: 'Выберите роль',
  },
  components: {
    CourseSelector,
  },
  setup() {
    const studentDialog = ref(false);
    const teacherDialog = ref(false);
    const { user, courseNumber, academicGroup, handleAcademicGroupChange, handleChangeCourse } = useCourseNumberAndAcademicGroup();
    const { createStudent, createTeacher } = useActions('Profile', ['createStudent', 'createTeacher']);
    const { router } = useRouter();

    const name = ref(user.value.name);
    const surname = ref(user.value.surname);
    const patronymic = ref(user.value.patronymic);

    const selectStudent = async () => {
      if (!academicGroup.value || !courseNumber.value) {
        triggerNegative('Выберите курс и академическую группу');
        return;
      }
      const student = new Student(user.value.id, user.value.login, academicGroup.value, courseNumber.value);
      await createStudent(student);
      studentDialog.value = false;
      router.push('/profile');
    };

    const selectTeacher = async () => {
      if (!name.value || !surname.value) {
        triggerNegative('Заполните Фамилию и Имя');
        return;
      }
      const teacher = new Teacher(user.value.id, user.value.login, name.value, surname.value, patronymic.value);
      await createTeacher(teacher);
      teacherDialog.value = false;
      router.push('/profile');
    };

    return {
      studentDialog,
      name,
      surname,
      patronymic,
      teacherDialog,
      courseNumber,
      academicGroup,
      handleChangeCourse,
      handleAcademicGroupChange,
      selectStudent,
      selectTeacher,
    };
  },
});
</script>

<style>
.select:hover {
  background-color: #f1f0ff;
  transition: 1s;
}
</style>
