<template>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <UsernameForm :isEdit="isEdit" v-model="usernameForm" />
    </div>
    <div class="col-xs-12 col-md-6 q-pl-md-md">
      <CourseSelector
        :academicGroup="academicGroup"
        :course-number="courseNumber"
        @academicGroupChange="handleAcademicGroupChange"
        @courseNumberChange="handleChangeCourse"
        :isEdit="isEdit"
      />
      <q-input :readonly="!isEdit" outlined class="q-mt-md" v-model="imageUrl" label="Ссылка на изображение"></q-input>
    </div>
    <div class="col-xs-12 text-right q-mt-md">
      <SubmitButtons :isEdit="isEdit" @toggleEdit="toggleEdit" @save="save" @cancel="cancel"></SubmitButtons>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import SubmitButtons from '@/components/Profile/SubmitButtons.vue';
import CourseSelector from '@/components/Profile/CouserSelector.vue';
import UsernameForm from '@/components/Profile/UsernameForm.vue';
import { useProfileForm } from 'components/Profile/useProfileForm';
import { useCourseNumberAndAcademicGroup } from 'pages/useCourseNumberAndAcademicGroup';
import Student from '@/models/Student';
import { useActions } from '@u3u/vue-hooks';

export default defineComponent({
  name: 'StudentForm',
  components: {
    SubmitButtons,
    UsernameForm,
    CourseSelector,
  },
  setup() {
    const { updateStudent } = useActions('Profile', ['updateStudent']);
    const { user, courseNumber, academicGroup, handleAcademicGroupChange, handleChangeCourse, getAcademicGroups } = useCourseNumberAndAcademicGroup();
    const { isEdit, toggleEdit, usernameForm, imageUrl, cancel: baseCancel } = useProfileForm(user.value);
    const { getOptionalSections } = useActions('OptionalGroup', ['getOptionalSections']);

    const save = async () => {
      const student = new Student(
        user.value.id,
        user.value.login,
        academicGroup.value,
        courseNumber.value,
        usernameForm.name,
        usernameForm.surname,
        usernameForm.middleName,
        usernameForm.email,
        imageUrl.value,
        user.value.studentId
      );
      await updateStudent(student);
      toggleEdit();
      await getOptionalSections(user.value);
    };

    const cancel = async () => {
      baseCancel();
      if (courseNumber.value != user.value.courseNumber) {
        await getAcademicGroups(user.value.courseNumber);
      }
      courseNumber.value = user.value.courseNumber;
      academicGroup.value = user.value.academicGroup;
    };

    return {
      isEdit,
      toggleEdit,
      save,
      cancel,
      usernameForm,
      imageUrl,
      academicGroup,
      courseNumber,
      handleAcademicGroupChange,
      handleChangeCourse,
    };
  },
});
</script>
