<template>
  <transition name="fade" mode="out-in">
    <q-btn v-if="!isEdit" label="Редактировать" color="primary" @click="handleEdit"></q-btn>
    <div v-else>
      <q-btn label="Cохранить" color="primary" @click="$emit('save')" />
      <q-btn label="Отменить" color="primary" @click="$emit('cancel')" class="q-ml-md" />
    </div>
  </transition>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  props: {
    isEdit: {
      type: Boolean,
      default: false,
    },
  },
  name: 'SubmitButtons',
  setup(props, ctx) {
    const handleEdit = () => {
      ctx.emit('toggleEdit');
      ctx.root.$emit('startEdit');
    };
    return {
      handleEdit,
    };
  },
});
</script>
